<div class="content section-padding bg-white box-shadow section-bottom-spacing">

  <div class="section-heading section-head-with-button">
    <div class="section-title">
      <p>FAQ's</p>
      <p class="section-sub-heading">Q&A for the FAQ page</p>
    </div>

    <div class="header-action-button">
      <button (click)="openAddEditTestimonial()"
        class="custom-btn theme-btn text-center block-center button-with-icon"><i class="fa fa-plus icon"
          aria-hidden="true"></i>Add New</button>

    </div>
  </div>

  <div *ngIf="faqListing" class="tabular-data-wrapper">
    <p-table [value]="faqListing" [responsive]="true" styleClass="faq-table">
      <ng-template pTemplate="header">
        <tr>
          <th>Question</th>
          <th>Answer</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td><span class="ui-column-title">Question</span>{{item.question}}</td>
          <td><span class="ui-column-title">Answer</span>{{item.answer}}</td>
          <td class="action-buttons">
            <span class="ui-column-title">Action</span>
            <button (click)="openAddEditTestimonial(item)"
              class="custom-btn custom-btn-small blue-btn text-center edit"><i class="fa fa-pencil"
                aria-hidden="true"></i></button>
            <button class="custom-btn custom-btn-small red-btn text-center" (click)="deleteFaq(item)"><i
                class="fa fa-trash-o" aria-hidden="true"></i></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>


<!--Edit collection Name-->
<p-dialog [header]="itemToEdit? 'Edit FAQ':'Add New FAQ'" modal="true" [(visible)]="displayAddEditFAQ"
  [responsive]="true" [style]="{minWidth: '800px'}" appendTo="body" maximizable="true" blockScroll="true"
  [closeOnEscape]="false" (onHide)="closeAddEditFaq()">
  <div class="dialog-content">

    <form class="custom-form" [formGroup]="addEditFaqForm" (ngSubmit)="addUpdateFaq()">
      <div class="custom-form-control">
        <span class="key">Question</span>
        <span class="value">
          <input type="text" name="question" id="question" formControlName="question">
        </span>
        <span class="error-message"
          *ngIf="addEditFaqForm.controls.question.invalid && (addEditFaqForm.controls.question.dirty || addEditFaqForm.controls.question.touched) && isAddFaqSubmitted">
          <span
            *ngIf="addEditFaqForm.controls.question.errors.required || addEditFaqForm.controls.question.errors.whitespace">Question
            is required.</span>
        </span>
      </div>

      <div class="custom-form-control">
        <span class="key">Answer</span>
        <span class="value">
          <textarea name="answer" id="answer" class="w-100" rows="5" formControlName="answer"></textarea>
        </span>
        <span class="error-message"
          *ngIf="addEditFaqForm.controls.answer.invalid && (addEditFaqForm.controls.answer.dirty || addEditFaqForm.controls.answer.touched) && isAddFaqSubmitted">
          <span
            *ngIf="addEditFaqForm.controls.answer.errors.required || addEditFaqForm.controls.answer.errors.whitespace">Answer
            is required.</span>

          <span *ngIf="addEditFaqForm.controls.answer.errors.minlength">Answer
            should be between 50 characters.</span>
        </span>
      </div>

      <div class="custom-form-control decision-box">
        <button type="reset" title="Cancel" class="custom-btn red-btn text-center button-with-icon cancel"
          (click)="closeAddEditFaq()"><i class="fa fa-times icon" aria-hidden="true"></i>Cancel</button>
        <button type="submit" title="Submit" class="custom-btn green-btn text-center button-with-icon submit"><i
            class="fa fa-check icon" aria-hidden="true"></i>Submit</button>
      </div>
    </form>
  </div>
</p-dialog>