<div class="content section-padding bg-white box-shadow section-bottom-spacing">

  <div class="section-heading section-head-with-button">
    <div class="section-title">
      <p> </p>
    </div>
  </div>

  <div class="section-spacing row custom-form">
    <div class="custom-form-control col-lg-6">
      <span class="key">Name</span>
      <span class="value">
        {{userInfo?.firstName}} {{userInfo?.lastName}}
      </span>
    </div>
    <div class="custom-form-control col-lg-6">
      <span class="key">Location</span>
      <span class="value">
        {{userInfo?.location}}
      </span>
    </div>

    <div class="custom-form-control col-lg-6">
      <span class="key">Company Name</span>
      <span class="value">
        {{userInfo?.company?.companyName}}
      </span>
    </div>

    <div class="custom-form-control col-lg-6">
      <span class="key">Experience</span>
      <span class="value">
        {{userInfo?.experiencedata?.experience}}
      </span>
    </div>

    <div class="custom-form-control col-lg-6" *ngIf="userInfo?.userType ==2">
      <span class="key">Category</span>
      <span class="value">
        {{userInfo?.categorydata?.category}}
      </span>
    </div>

    <div class="custom-form-control col-lg-6" *ngIf="userInfo?.userType ==1">
      <span class="key">Designation</span>
      <span class="value">
        {{userInfo?.designation}}
      </span>
    </div>
    <!-- <div class="custom-form-control col-lg-6">
      <span class="key">Frame Face (inches)</span>
      <span class="value">

      </span>
    </div> -->
    <div class="custom-form-control col-lg-6" *ngIf="userInfo?.userType ==2">
      <span class="key">Expert Skill</span>
      <span class="value">
        <span *ngFor="let listitem of userInfo?.expertskill">
          {{listitem?.skill.skill | titlecase}}{{(userInfo?.expertskill.length-1) ? ',' : ''}}
        </span>
      </span>
    </div>

    <div class="custom-form-control col-lg-6" *ngIf="userInfo?.userType ==1">
      <span class="key">Professional Mentership</span>
      <span class="value">
        <span *ngFor="let listitem of userInfo?.professionalMentership"> {{listitem?.skill.skill |
          titlecase}}{{(userInfo?.professionalMentership.length-1) ? ',' : ''}}</span>
      </span>
    </div>

    <div class="custom-form-control col-lg-6" *ngIf="userInfo?.userType ==1">
      <span class="key">Following</span>
      <span class="value">
        {{userInfo?.followingCount}}
      </span>
    </div>

    <div class="custom-form-control col-lg-6" *ngIf="userInfo?.userType ==2">
      <span class="key">Follower</span>
      <span class="value">
        {{userInfo?.followerCount}}
      </span>
    </div>

  </div>
</div>