<div class="row container">
  <div class="content-header text-left">Manufacturer/ Brands</div>
  <p class="content-sub-header"></p> 
</div>
<div class="row paddingSearch">
  <form class="col-4 navbar-form navbar-right text-left mt-1" role="search">
      <div class="position-relative has-icon-right">
          <!-- <input type="text" class="form-control round" placeholder="Search"> -->
          <input   type="text" class="form-control round searchBtn" pInputText placeholder="Search"  />
          <!-- [(ngModel)]="searchBar" -->
          <div class="form-control-position">
              <i class="ft-search"></i>
          </div>
          

      </div>
 
  </form>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-12">
        <fieldset class="form-group">
            <label for="basicSelect">Country</label>
            <select class="form-control" id="basicSelect" (change)="onChange($event.target.value)">
                 <option value=null>All</option>
                <option *ngFor="let countries of countries" [value]="countries.id">{{countries.countryName}}</option> 
            </select>
        </fieldset>    
    </div>
  <div class="col-8 text-right">
      <button type="button" class="btn btn-raised btn-primary btn-darken-3 white">
    <i class="fa fa-paper-plane-o d-lg-none d-block"></i>
    <div class="dropdown">
      <a class="d-lg-block d-none dropdown-toggle" data-toggle="dropdown" >Export</a>
      <ul class="dropdown-menu" role="menu">
          <li><a  >Current Data</a></li>
          <li><a  >All Data</a></li>
      </ul>
  </div>
  </button>
      <button type="button" class="btn btn-raised btn-primary btn-darken-3 white" [routerLink]="['/catalogues/new']">
    <i class="fa fa-paper-plane-o d-lg-none d-block"></i>
    <span class="d-lg-block d-none" >Add New</span>
  </button>
  </div>
</div>
<div class="customer-wrapper">
  <div class="heading-wrapper">

  </div>

  <div class="table-wrapper vehiclwrappere- ">
    <p-table [value]="brandList" styleClass="table-list-wrapper" [responsive]="true" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10"[lazy]="true" (onLazyLoad)="loadDataLazy($event)" [lazy]="true" (onLazyLoad)="loadDataLazy($event)"  [totalRecords]="totalCount">
        <ng-template pTemplate="header">
              <tr class="table-coustom-style">
                  <th >S No.
                  </th>
                  <th > Name</th>
                  <th>Supply Type</th>
                  <th >Country</th> 
                  <th>Wallet Discount</th>
                  <th >Sort</th> 
                   <th>Status</th>
                  <th >Action</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-brand >
              <tr>
                  <td class="order-date-wrapper"><span class="ui-column-title">S No</span>{{brand.brandId}}</td>
                  <td><span class="ui-column-title">Full Name</span>{{brand.firstName}} {{brand.lastName}}</td>
                  <td><span class="ui-column-title">Supply Type</span>{{brand.brandId}}</td>
                  <td><span class="ui-column-title">Country</span>{{customer.mobileNumber}}</td>
                  <td><span class="ui-column-title">Wallet Discount</span>{{customer.clinicName}}</td>
                  <td><span class="ui-column-title">Sort</span>{{customer.created_at | date: 'mediumDate'}}</td>
                   <td >
                      <span class="ui-column-title ">Status</span> 
<!--                       
                      <div class="dropdown">
                      <a class="dropdown-toggle badge colorStatus" [ngClass]="{ 'badge-primary': customer.adminStatus === 1 , 'badge-danger': customer.adminStatus === 0 }" id="customerStatusId" type="button" data-toggle="dropdown">{{(customer.adminStatus === 1) ? 'Active' : 'Inactive'}}

                      </a>
                          <ul class="dropdown-menu">
                              <li [hidden]="customer.adminStatus == 1"><a (click)="setStatus(customer.customerId ,1, $event)">Active</a></li>
                              <li [hidden]="customer.adminStatus == 0"><a (click)="setStatus(customer.customerId,0, $event)">Inactive</a></li>
                          </ul>
                      </div> -->
                                            
                  </td> 
                  <td>
                       <span class="ui-column-title">Action</span>
<!--                   
                      <div class="dropdown">
                          <a class="glyphicon glyphicon-cog dropdown-toggle" type="button" data-toggle="dropdown">

                          </a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a>Edit</a></li>
                              <li><a>Delete</a></li>

                          </ul>
                      </div> -->
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
              <tr>
                  <td class="text-center text-danger font-weight-600" colspan="8">No Records Found.</td>
              </tr>
          </ng-template>
      </p-table>
  </div>
</div>
