<section class="full-height-wrapper bg-theme-grey auth-bg">
  <div class="section-content full-height-wrapper">
    <div class="centered-box shadow-lg">
      <div class="box-image bg-theme-white flex-column">
        <figure>
          <!-- <img src="assets/img/logos/blue-tyko-logo.png" alt="Tyko Logo"> -->
          <!-- <img src="assets/project-images/framebazaar Logo.svg" alt="Framebazaar Logo"> -->
          <h1><b>Lumier 32</b></h1>
        </figure>
      </div>
      <div class="box-content bg-white">
        <div class="content" *ngIf="!resetDone">
          <h3 class="heading font-medium color-dark-grey">RECOVER PASSWORD</h3>
          <p class="sub-heading font-medium color-light-grey">Please enter your email address and we'll send you
            instructions on how to reset your password.</p>
          <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmitRecoverPassword()" class="auth-form custom-form">
            <input type="email" placeholder="Email" formControlName="email_id">
            <div *ngIf="recoverPasswordForm.controls['email_id'].invalid && (recoverPasswordForm.controls['email_id'].dirty || recoverPasswordForm.controls['email_id'].touched) && isRecoverPasswordSubmitted"
              class="error">
              <p *ngIf="recoverPasswordForm.controls['email_id'].hasError('required')">Please enter a valid email</p>
              <p *ngIf="recoverPasswordForm.controls['email_id'].hasError('validateEmail') && !recoverPasswordForm.controls['email_id'].hasError('required')">
                Invalid Email</p>
            </div>
            <div class="d-flex justify-content-between">
              <button type="button" class="custom-btn same-width-btn white-btn text-center" routerLink="../login">Back
                to Login</button>
              <button type="submit" class="custom-btn same-width-btn theme-btn text-center">Submit</button>
            </div>
          </form>
        </div>

        <div class="content" *ngIf="resetDone">
          <h3 class="heading font-medium color-dark-grey">ONE STEP CLOSER!</h3>
          <p class="sub-heading font-medium color-light-grey">We have sent a reset password link to
            <strong>{{previousMail}}</strong>.</p>

          <p class="sub-heading font-regular color-light-grey">Didn't receive email? Check your spam folder or resend
            link.</p>
          <form class="auth-form custom-form">
            <div class="d-flex justify-content-between">
              <button type="button" class="custom-btn same-width-btn white-btn text-center" routerLink="../login">Back
                to
                Login</button>
              <button type="button" class="custom-btn same-width-btn theme-btn text-center" (click)="resendLink()">Resend
                Link</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>