<div class="row container breadcrum-container">
  <ul class="col-sm-12 pl-0">
      <li>
          <a [routerLink]="['/systemsetting/delivery-charge']">Delivery Charge</a>
      </li>
      <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
      </li>
      <li>
          {{deliveryChargeTitle}}
      </li>
  </ul>
  <div class="content-header text-left">{{deliveryChargeTitle}}</div>
</div>
<div class="row ">
  <div class="col-md-12">
      <div class="card">
          <div class="card-content">
              <div class="px-3 pt-3">
                <form class="form" [formGroup]="addDeliveryForm" (ngSubmit)="onSubmitDeliveryForm()">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Title</label><span class="asterick">*</span> 
                                    <input type="text" class="form-control border-primary" placeholder="Title" formControlName="title" [ngClass]="{ 'is-invalid': isSubmittedaddDeliveryForm && signUpControls.title.errors }">
                                    <div *ngIf="isSubmittedaddDeliveryForm && signUpControls.title.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.title.errors.required">reason is required</div>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>No. of Days</label>
                                  <input type="text" class="form-control border-primary" placeholder="No. of Days"  formControlName="noOfdays">
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Country</label><span class="asterick">*</span>
                                  <div class="assign-group-dropdown">
                                    <p-dropdown [options]="countries" formControlName="countryId" styleClass="form-control border-primary" (onChange)="getdropdown1($event)"  filter="true" placeholder="Select Country"  [ngClass]="{ 'is-invalid': isSubmittedaddDeliveryForm && signUpControls.countryId.errors }">
                                    </p-dropdown>
                                    <div *ngIf="isSubmittedaddDeliveryForm && signUpControls.countryId.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.countryId.errors.required">Country is required</div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Minimum Order Amount</label>
                                  <input type="text" class="form-control border-primary" placeholder="Minimum Order Amount" formControlName="minimumOrderAmount">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Delivery Charge</label>
                                <input type="text" class="form-control border-primary" placeholder="Delivery Charge"  formControlName="deliveryCharge">
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                              <label>Instructions</label>
                              <input type="text" class="form-control border-primary" placeholder="Instructions" formControlName="instruction">
                          </div>
                      </div>
                    </div>    

                      </div> 
                      <div class="form-actions right">
                          <button type="button" [routerLink]="['/systemsetting/delivery-charge']"
                              class="btn btn-raised btn-warning mr-1"> Back
                          </button>
                          <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                          <!-- [disabled]="!addBannerForm.dirty" -->
                      </div>
                  </form>
              </div> 
          </div>
      </div>
  </div>
</div>