<div class="row container breadcrum-container">
  <ul class="col-sm-12 pl-0">
      <li>
          <a [routerLink]="['/catalogues/products']">Products</a>
      </li>
      <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
      </li>
      <li>
        {{productTitle}}
      </li>
  </ul>
  <div class="content-header text-left">Add New Product</div>
</div>
<div class="copy-data">
    <form class="form">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Enter Product Id</label><span class="asterick">*</span> 
                <input type="text" class="form-control border-primary" placeholder="Enter Product Id"> 
            </div>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-raised btn-primary btn-darken-3 white copy-product">
                
                <span class="d-lg-block " >Copy product data</span>
            </button>
        </div>
    </div>
</form>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 imp-exp-buttons">
        <div class="text-left">
            <button type="button" class="btn btn-raised btn-primary btn-darken-3 white">
                <span class="d-lg-block " >English</span>
            </button>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 imp-exp-buttons">
        <div class="text-right">
            <button type="button" class="btn btn-raised btn-primary btn-darken-3 white">
                <a class="text" (click)="open(content)"><span class="d-lg-block " >Add Languages</span></a>
            </button>
        </div>
    </div>
  </div>


<div class="row ">
    <div class="col-md-12">
        <div class="card-content">
            <div class="">
                <form class="form">
                    <div class="form-body">
                        <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                        <!-- <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4> -->
                    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Country</label><span class="asterick">*</span>
                                    <div class="assign-group-dropdown">
                                            <p-dropdown styleClass="form-control border-primary" filter="true" placeholder="Select Country">
                                        </p-dropdown>
                                        <!-- <div *ngIf="isSubmittedaddProductForm && signUpControls.countryId.errors" class="invalid-feedback">
                                            <div *ngIf="signUpControls.countryId.errors.required">Country is required</div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Is Sale</label>
                                    <div class="issale-check">
                                        <input class="form-check-input" type="checkbox" value="" id="isSale">
                                        <label class="issale" for="isSale">
                                            Is Sale
                                        </label>
                                      </div>  
                                    <!-- <label>Is Sale</label>
                                    <input type="text" formControlName="isSale" class="form-control border-primary" placeholder="Is Sale">  -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label><span class="asterick">*</span> 
                                    <input type="text" class="form-control border-primary" placeholder="Name">
                                    <!-- <div *ngIf="isSubmittedaddProductForm && signUpControls.name.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.name.errors.required">Name is required</div>
                                    </div>    -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>No Discount</label>
                                    <input type="text" class="form-control border-primary" placeholder="No Discount"> 
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Related Products</label>
                                    <input type="text" class="form-control border-primary" placeholder="Related Products"> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Package Content</label>
                                    <input type="text" class="form-control border-primary" placeholder="Package Content"> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>PN CDE</label><span class="asterick">*</span> 
                                    <input type="text" class="form-control border-primary" placeholder="PN CDE">
                                    <!-- <div *ngIf="isSubmittedaddProductForm && signUpControls.pnCde.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.pnCde.errors.required">PN CDE is required</div>
                                    </div>    -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Short Description</label>
                                    <input type="text" class="form-control border-primary" placeholder="Short Description"> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Manufacturer / Brand</label><span class="asterick">*</span> 
                                    <select placeholder="Select Manufacturer / Brand" class="form-control border-primary">
                                        <option value="" >Select Manufacturer / Brand</option>
                                        <option value={{manufacturerBrand}} *ngFor="let manufacturerBrand of manufacturerBrands">{{manufacturerBrand}}
                                        </option>
                                        </select>
                                    <!-- <div *ngIf="isSubmittedaddProductForm && signUpControls.manufacturerBrand.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.manufacturerBrand.errors.required">Manufacturer / Brand is required</div>
                                    </div>    -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Discount Range</label>
                                    <input type="text" class="form-control border-primary" placeholder="Discount Range"> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Price</label><span class="asterick">*</span> 
                                    <input type="text" class="form-control border-primary" placeholder="Price">
                                    <!-- <div *ngIf="isSubmittedaddProductForm && signUpControls.price.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.price.errors.required">Price is required</div>
                                    </div>    -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Meta Title</label>
                                    <input type="text"  class="form-control border-primary" placeholder="Meta Title"> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Is Quote only?</label>
                                    <input type="text"  class="form-control border-primary" placeholder="Is Quote only?"> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>UOM</label>
                                    <input type="text"  class="form-control border-primary" placeholder="UOM"> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                  <label>Images</label>
                                  <div class="row ">
                                    <div class="col-md-2 form-group center">
                                        <label for="file">
                                          <img width="80px" height="80px"  class="ImgIcon" /> </label>
                                          <!-- [src]="companyFlagSize ? companyLogo : dLogo" -->
                                    </div>
                                    <div class="col-md-10 ">
                                        <input type="file" accept="image/*" id="chooseFile" class="form-control border-primary">
                                        <span id="sizeValidations">File size should not exceed 200kb</span>
                                    </div>
                                </div>
                                </div>
                              </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Country Origin</label>
                                    <select placeholder="country Origin" class="form-control border-primary">
                                         <option value="" >Select country Origin</option>
                                         <option value={{countryOrigin}} *ngFor="let countryOrigin of countryOrigins">{{countryOrigin}}
                                        </option>
                                    </select>  
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Wallet Price</label>
                                    <input type="text"  class="form-control border-primary" placeholder="Wallet Price"> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Meta Description</label>
                                    <input type="text" class="form-control border-primary" placeholder="Meta Description"> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Supply Type</label><span class="asterick">*</span> 
                                    <select placeholder="Supply Type" class="form-control border-primary">
                                         <option value="" >Select Supply Type</option>
                                         <option value={{supplyType}} *ngFor="let supplyType of supplyTypes">{{supplyType}}
                                        </option>
                                    </select>  
                                    <!-- <div *ngIf="isSubmittedaddProductForm && signUpControls.supplyType.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.supplyType.errors.required">Supply Type is required</div>
                                    </div>   -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Meta Keyword</label><span class="asterick">*</span> 
                                    <input type="text" class="form-control border-primary" placeholder="Meta Keyword">
                                    <!-- <div *ngIf="isSubmittedaddProductForm && signUpControls.metaKeyword.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.metaKeyword.errors.required">Meta Keyword is required</div>
                                    </div>    -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Category</label><span class="asterick">*</span> 
                                    <select placeholder="Supply Type" class="form-control border-primary">
                                         <option value="" >Select Supply Type</option>
                                         <option value={{category}} *ngFor="let category of categories">{{category}}
                                        </option>
                                    </select>  
                                    <!-- <div *ngIf="isSubmittedaddProductForm && signUpControls.category.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.price.category.required">Category is required</div>
                                    </div>  -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ribbon Text</label>
                                    <input type="text" class="form-control border-primary" placeholder="Ribbon Text"> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Speciality Type</label>
                                    <select placeholder="Speciality Type" class="form-control border-primary">
                                         <option value="" >Select Supply Type</option>
                                         <option value={{specialityType}} *ngFor="let specialityType of specialityTypes">{{specialityType}}
                                        </option>
                                    </select>  
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Is Package</label>
                                    <input type="text" class="form-control border-primary" placeholder="Is Package"> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                  <label>Catalogue</label>
                                  <div class="row ">
                                    <div class="col-md-2 form-group center">
                                        <label for="file">
                                          <img width="80px" height="80px" class="ImgIcon" /> </label>
                                          <!-- [src]="companyFlagSize ? companyLogo : dLogo" -->
                                    </div>
                                    <div class="col-md-10 ">
                                        <input type="file" accept="image/*" id="chooseFile" class="form-control border-primary">
                                        <span id="sizeValidations">File size should not exceed 200kb</span>
                                    </div>
                                </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- <div class="form-actions right">
                        <button type="button" [routerLink]="['/catalogues/products']" class="btn btn-raised btn-warning mr-1"> Back</button>
                        <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                    </div>-->
                </form> 
                
                <div class="product-page-listing">
                    <div class="customer-wrapper">
                        <div class="heading-wrapper">
                        </div>
                        <div class="table-wrapper vehiclwrappere- ">
                        <p-table>
                            <!-- [lazy]="true" (onLazyLoad)="loadDataLazy($event)" [lazy]="true" (onLazyLoad)="loadDataLazy($event)" -->
                            <ng-template pTemplate="header">
                                    <tr class="table-coustom-style">
                                        <th style="width:5em">S. No.</th>
                                        <th style="width: 16em;">Seller Name</th>
                                        <th style="width: 14em;">Seller Fee</th>
                                        <th style="width: 15em;">Quantity</th> 
                                        <th style="width: 16em;">Delivery Within Days</th>
                                        <th style="width: 8em;">Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-brand >
                                    <tr>
                                        <td class="order-date-wrapper"><span class="ui-column-title">S No</span>{{brand.id}}</td>
                                        <td><span class="ui-column-title">Seller Name</span>{{brand.manufacturerName}}</td>
                                        <td><span class="ui-column-title">Seller Fee</span>{{brand.supplyType.name}}</td>
                                        <td><span class="ui-column-title">Quantity</span></td>
                                        <td><span class="ui-column-title">Delivery Within Days</span>{{brand.walletDiscount}}</td>
                                        <!-- <td>
                                            <span class="ui-column-title">Action</span>
                                        
                                            <div class="dropdown">
                                                <a class="glyphicon glyphicon-cog dropdown-toggle" type="button" data-toggle="dropdown">
                    
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a (click)="getDropDownValue1($event,brand.id)">Edit</a></li>
                                                    <li><a (click)="getDropDownValue1($event,brand.id)">Delete</a></li>
                    
                                                </ul>
                                            </div>
                                        </td> -->
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td class="text-center text-danger font-weight-600" colspan="6">No Records Found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>

                  
                  <div class="product-page-listing">
                    <h4 class="form-section"> Varients</h4>
                    <div class="customer-wrapper">
                        <div class="heading-wrapper">
                        </div>
                        <div class="table-wrapper vehiclwrappere varient">
                            <p-table>
                       <!-- [lazy]="true" (onLazyLoad)="loadDataLazy($event)" [lazy]="true" (onLazyLoad)="loadDataLazy($event)" -->
                       <ng-template pTemplate="header">
                               <tr class="table-coustom-style">
                                   <th style="width:4em">S. No.</th>
                                   <th style="width: 4em;">Varient</th>
                                   <th style="width: 4em;">Package</th>
                                   <th style="width: 3em;"></th> 
                                   <th style="width: 3em;"></th> 
                                   <th style="width: 3em;"></th> 
                                   <th style="width: 4em;">Quantity</th>
                                   <th style="width: 4em;">Is Sale?</th>
                                   <th style="width: 6em;">Sale Price</th>
                                   <th style="width: 4em;">Price</th>
                                   <th style="width: 6em;">Wallet Price</th>
                                   <th style="width: 3em;">Action</th>
                               </tr>
                           </ng-template>
                           <ng-template pTemplate="body" let-brand >
                               <tr>
                                   <td class="order-date-wrapper"><span class="ui-column-title">S No</span>{{brand.id}}</td>
                                   <td><span class="ui-column-title">Varient</span>{{brand.manufacturerName}}</td>
                                   <td><span class="ui-column-title">Package</span>{{brand.supplyType.name}}</td>
                                   <td><span class="ui-column-title"></span></td>
                                   <td><span class="ui-column-title"></span></td>
                                   <td><span class="ui-column-title"></span></td>
                                   <td><span class="ui-column-title">Quantity</span></td>
                                   <td><span class="ui-column-title">Is Sale?</span></td>
                                   <td><span class="ui-column-title">Sale Price</span></td>
                                   <td><span class="ui-column-title">Price</span></td>
                                   <td><span class="ui-column-title">Wallet Price</span></td>
                                   <!-- <td>
                                       <span class="ui-column-title">Action</span>
                                   
                                       <div class="dropdown">
                                           <a class="glyphicon glyphicon-cog dropdown-toggle" type="button" data-toggle="dropdown">
               
                                           </a>
                                           <ul class="dropdown-menu" role="menu">
                                               <li><a (click)="getDropDownValue1($event,brand.id)">Edit</a></li>
                                               <li><a (click)="getDropDownValue1($event,brand.id)">Delete</a></li>
               
                                           </ul>
                                       </div>
                                   </td> -->
                               </tr>
                           </ng-template>
                           <ng-template pTemplate="emptymessage">
                               <tr>
                                    <td class="text-center text-danger font-weight-600" colspan="12">No Records Found.</td>
                               </tr>
                           </ng-template>
                       </p-table>
                   </div>
                        <div class="table-wrapper vehiclwrappere varient" *ngFor="let field of fieldArray; let i = index">
                            <!-- *ngFor="let field of fieldArray; let i = index" -->
                                 <p-table>
                                    <!-- [value]="" styleClass="table-list-wrapper" [responsive]="true" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10"  [totalRecords]="totalCount" -->
                            <!-- [lazy]="true" (onLazyLoad)="loadDataLazy($event)" [lazy]="true" (onLazyLoad)="loadDataLazy($event)" -->
                            <ng-template pTemplate="header">
                                    <tr class="table-coustom-style">
                                        <th style="width:4em">S. No.</th>
                                        <th style="width: 4em;">Varient</th> 
                                        <th style="width: 4em;">Package</th>
                                        <th style="width: 3em;"></th> 
                                        <th style="width: 3em;"></th> 
                                        <th style="width: 3em;"></th> 
                                        <th style="width: 4em;">Quantity</th>
                                        <th style="width: 4em;">Is Sale?</th>
                                        <th style="width: 6em;">Sale Price</th>
                                        <th style="width: 4em;">Price</th>
                                        <th style="width: 6em;">Wallet Price</th>
                                        <th style="width: 3em;">Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-brand >
                                    <tr>
                                        <td class="order-date-wrapper"><span class="ui-column-title">S No</span>{{brand.id}}</td>
                                        <td><span class="ui-column-title">Varient</span>{{brand.manufacturerName}}</td>
                                        <td><span class="ui-column-title">Package</span>{{brand.supplyType.name}}</td>
                                        <td><span class="ui-column-title"></span></td>
                                        <td><span class="ui-column-title"></span></td>
                                        <td><span class="ui-column-title"></span></td>
                                        <td><span class="ui-column-title">Quantity</span></td>
                                        <td><span class="ui-column-title">Is Sale?</span></td>
                                        <td><span class="ui-column-title">Sale Price</span></td>
                                        <td><span class="ui-column-title">Price</span></td>
                                        <td><span class="ui-column-title">Wallet Price</span></td>
                                        <!-- <td>
                                            <span class="ui-column-title">Action</span>
                                        
                                            <div class="dropdown">
                                                <a class="glyphicon glyphicon-cog dropdown-toggle" type="button" data-toggle="dropdown">
                    
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a (click)="getDropDownValue1($event,brand.id)">Edit</a></li>
                                                    <li><a (click)="getDropDownValue1($event,brand.id)">Delete</a></li>
                    
                                                </ul>
                                            </div>
                                        </td> -->
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td class="text-center text-danger font-weight-600" colspan="12">No Records Found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                  </div>
                  <div class="text-right">
                    <button type="button" class="btn btn-raised btn-primary btn-darken-3 white" (click)="addFieldValue()">
                        <i class="fa fa-paper-plane-o d-lg-none d-block"></i>
                        <span class="d-lg-block d-none" >Add Row</span>
                    </button>
                  </div>

                  <form class="form">
                    <div class="form-body">
                        <!-- <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4> -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                  <label>Description</label>
                                  <ckeditor class="border-primary"></ckeditor>
                                  <!-- (change)="editorValidation(3)" -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                  <label>Warranty</label>
                                  <ckeditor class="border-primary"></ckeditor>
                                  <!-- (change)="editorValidation(3)" -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                  <label>Features</label>
                                  <ckeditor class="border-primary"></ckeditor>
                                  <!-- (change)="editorValidation(3)" -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Embeded Video</label>
                                    <input type="text" class="form-control border-primary" placeholder="Embeded Video"> 
                                </div>
                                <span id="sizeValidations">Paste Embeded Code Only.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button type="button" [routerLink]="['/catalogues/products']" class="btn btn-raised btn-warning mr-1"> Back</button>
                        <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                    </div>
                </form>

                <div class="product-page-listing">
                    <h4 class="form-section"> Quantity Based Discount</h4>
                    <div class="customer-wrapper">
                        <div class="heading-wrapper">
                        </div>
                        <div class="table-wrapper vehiclwrappere varient">
                            <p-table>
                                <!-- [lazy]="true" (onLazyLoad)="loadDataLazy($event)" [lazy]="true" (onLazyLoad)="loadDataLazy($event)" -->
                                <ng-template pTemplate="header">
                                        <tr class="table-coustom-style">
                                            <th style="width:6em">S. No.</th>
                                            <th style="width: 16em;">Minimum Quantity</th>
                                            <th style="width: 16em;">Maximum Quantity</th>
                                            <th style="width: 13em;">Price</th> 
                                            <th style="width: 13em;">Wallet Price</th> 
                                            <th style="width: 10em;">Action</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-brand >
                                        <tr>
                                            <td class="order-date-wrapper"><span class="ui-column-title">S No</span>{{brand.id}}</td>
                                            <td><span class="ui-column-title">Minimum Quantity</span>{{brand.manufacturerName}}</td>
                                            <td><span class="ui-column-title">Maximum Quantity</span>{{brand.supplyType.name}}</td>
                                            <td><span class="ui-column-title">Price</span></td>
                                            <td><span class="ui-column-title">Wallet Price</span></td>
                                            <!-- <td>
                                                <span class="ui-column-title">Action</span>
                                            
                                                <div class="dropdown">
                                                    <a class="glyphicon glyphicon-cog dropdown-toggle" type="button" data-toggle="dropdown">
                        
                                                    </a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a (click)="getDropDownValue1($event,brand.id)">Edit</a></li>
                                                        <li><a (click)="getDropDownValue1($event,brand.id)">Delete</a></li>
                        
                                                    </ul>
                                                </div>
                                            </td> -->
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td class="text-center text-danger font-weight-600" colspan="6">No Records Found.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        <div class="table-wrapper vehiclwrappere varient" *ngFor="let based of basedArray; let i = index">
                            <!-- *ngFor="let based of basedArray; let i = index" -->
                        <p-table>
                            <!-- [lazy]="true" (onLazyLoad)="loadDataLazy($event)" [lazy]="true" (onLazyLoad)="loadDataLazy($event)" -->
                            <ng-template pTemplate="header">
                                    <tr class="table-coustom-style">
                                        <th style="width:6em">S. No.</th>
                                        <th style="width: 16em;">Minimum Quantity</th>
                                        <th style="width: 16em;">Maximum Quantity</th>
                                        <th style="width: 13em;">Price</th> 
                                        <th style="width: 13em;">Wallet Price</th> 
                                        <th style="width: 10em;">Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-brand >
                                    <tr>
                                        <td class="order-date-wrapper"><span class="ui-column-title">S No</span>{{brand.id}}</td>
                                        <td><span class="ui-column-title">Minimum Quantity</span>{{brand.manufacturerName}}</td>
                                        <td><span class="ui-column-title">Maximum Quantity</span>{{brand.supplyType.name}}</td>
                                        <td><span class="ui-column-title">Price</span></td>
                                        <td><span class="ui-column-title">Wallet Price</span></td>
                                        <!-- <td>
                                            <span class="ui-column-title">Action</span>
                                        
                                            <div class="dropdown">
                                                <a class="glyphicon glyphicon-cog dropdown-toggle" type="button" data-toggle="dropdown">
                    
                                                </a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a (click)="getDropDownValue1($event,brand.id)">Edit</a></li>
                                                    <li><a (click)="getDropDownValue1($event,brand.id)">Delete</a></li>
                    
                                                </ul>
                                            </div>
                                        </td> -->
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td class="text-center text-danger font-weight-600" colspan="6">No Records Found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                  </div>
                  <div class="text-right">
                    <button type="button" class="btn btn-raised btn-primary btn-darken-3 white" (click)="addBasedValue()">
                        <i class="fa fa-paper-plane-o d-lg-none d-block"></i>
                        <span class="d-lg-block d-none" >Add Row</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title title">Add Language</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Select Language</label><span class="asterick">*</span>
            <select class="form-control border-primary"
                placeholder="Select Language">
                <option value="" >Select Language</option>
                <option value={{language}} *ngFor="let language of languages">{{language}}
                </option>
            </select>
            <!-- <div *ngIf="isSubmittedaddCountryForm && signUpControls.languages.errors"
                class="invalid-feedback">
                <div *ngIf="signUpControls.languages.errors.required">Languages is required
                </div>
            </div> -->
        </div>
    </div>
        <!-- <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" *ngFor="let permission of permissions">
            <ngb-panel class="p-0" id="ngb-panel-0" title={{permission.menuName}} >
              <ng-template ngbPanelContent>
                  <div *ngFor="let childMenu of permission.childMenu">
                    <span>{{childMenu.itemName}}</span>
                  </div>
            </ng-template>
            </ngb-panel>
            </ngb-accordion> -->
    
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>