.copy-data {
    margin-top: 25px;
}
.copy-product {
    margin-top: 33px;
}
.product-page-listing {
    margin: 25px 0;
}
.invalid-feedback {
    display : block !important
}
label.issale {
    padding-left: 25px;
}
.iconDelete{
    cursor: pointer;
    font-size: x-large;
}
td{
    text-align: center;

}
span#Validations {
    font-size: 12px;
}
.ng-tns-c9-12.ui-dropdown.ui-widget.ui-state-default.ui-corner-all.ui-helper-clearfix {
    height: 38px !important;
}