.copy-data {
    margin-top: 25px;
}
.copy-product {
    margin-top: 33px;
}
.product-page-listing {
    margin: 25px 0;
}

label.issale {
    padding-left: 25px;
}
.iconDelete{
    cursor: pointer;
    font-size: x-large;
}
td{
    text-align: center;

}
span#Validations {
    font-size: 12px;
}