<div class="row container breadcrum-container">
    <ul class="col-sm-12 pl-0">
        <li>
            <a [routerLink]="['/catalogues/products']">Products</a>
        </li>
        <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
        </li>
        <li>
          {{productTitle}}
        </li>
    </ul>
    <div class="content-header text-left">{{productTitle}}</div>
</div>
  <div class="copy-data">
      <form class="form">
      <div class="row">
        <div class="col-lg-6">
        <label>Enter Product Id</label><span class="asterick">*</span> 
        <div class="input-group">
          <input type="text" class="form-control border-primary" placeholder="Enter Product Id"
          [(ngModel)]="PNSKU_id" [ngModelOptions]="{standalone: true}">         
            <div class="input-group-append">
            <button type="button"  (click)="load_data()" class="btn btn-raised btn-primary btn-darken-3">
            Copy Product Data
          </button>        
          </div>
        </div>
      </div>
      </div>
  </form>
    </div>
  
  
  <div class="row ">
      <div class="col-md-12">
          <div class="card-content">
              <div class="">
                  <form class="form" [formGroup]="addProductForm" (ngSubmit)="onSubmitAddProductForm()">
                  
                    <div *ngIf="!editMode" style="float: right;">
                      <button type="button" [routerLink]="['/catalogues/products']" class="btn btn-raised btn-warning mr-1"> Back </button>
                      <button type="submit" class="btn btn-raised btn-primary" [disabled]="(!addProductForm.dirty || validatePN)">Submit</button>
                  </div>
                  <div *ngIf="editMode" style="float: right;">
                    <button type="button" [routerLink]="['/catalogues/products']" class="btn btn-raised btn-warning mr-1"> Back </button>
                    <button type="submit" class="btn btn-raised btn-primary" [disabled]="(!addProductForm.dirty )">Submit</button>
                </div>
                    <div class="form-body">
                          <h4 class="form-section"><i class="ft-user"></i> Product Region </h4>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Select Country</label><span class="asterick">*</span>
                                          <div class="assign-group-dropdown">
                                          <p-dropdown [options]="countries"  formControlName="countryId"
                                           (onChange)="getdropdown1($event)" styleClass="form-control border-primary" 
                                           filter="true" placeholder="Select Country"  [(ngModel)]="selected_country" 
                                           [ngClass]="{ 'is-invalid': isSubmittedaddProductForm && signUpControls.countryId.errors }">
                                          </p-dropdown>
                                          <div *ngIf="isSubmittedaddProductForm && signUpControls.countryId.errors" class="invalid-feedback">
                                              <div *ngIf="signUpControls.countryId.errors.required">Country is required</div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Select Language</label><span class="asterick">*</span>
                                      <div class="assign-group-dropdown">
                                         <p-dropdown [options]="languages" formControlName="languageId" 
                                         styleClass="form-control border-primary" (onChange)="getlanguage($event)" 
                                          filter="true" placeholder="Select language" [(ngModel)]="selected_languageId" 
                                 [ngClass]="{ 'is-invalid': isSubmittedaddProductForm && signUpControls.languageId.errors }">
                                          </p-dropdown>
                                          <div *ngIf="isSubmittedaddProductForm && signUpControls.languageId.errors" class="invalid-feedback">
                                              <div *ngIf="signUpControls.languageId.errors.required"> Language is required</div>
                                          </div> 
                                  </div>
                                </div>
                                </div>
                          </div>
                          <h4 class="form-section"><i class="ft-user"></i> Product Detail</h4>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label><span class="asterick">*</span> 
                                    <input type="text" formControlName="productName" class="form-control border-primary" placeholder="Name">
                                    <div *ngIf="isSubmittedaddProductForm && signUpControls.productName.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.productName.errors.required"> Name is required</div>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-md-6">
                              <label>SKU/ PN CDE</label><span class="asterick">*</span> 
                              <div class="input-group mb-0">
                                <input type="text" [(ngModel)]="PNSKU_CDE" class="form-control border-primary" formControlName="PNCDE" placeholder="SKU/ PN CDE">
                                <div class="input-group-append">
                                  <button class="btn btn-raised btn-primary btn-darken-3" (click)="PNCDE_Check()" type="button">Validate PN CDE</button>
                                </div>
                    
                              </div>
                              <span id="Validations">Validate SKU/ PN CDE </span>
                              <div *ngIf="isSubmittedaddProductForm && signUpControls.PNCDE.errors" class="invalid-feedback">
                                <div *ngIf="signUpControls.PNCDE.errors.required">SKU/ PN CDE is required</div>

                            </div>
                            </div>
                           
                          </div>
                          <div class="row">
                          
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>UOM</label>
                                  <input type="text" formControlName="UOM"  class="form-control border-primary" placeholder="UOM"> 
                                
                                </div>
                          </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Supply Type</label><span class="asterick">*</span>
                                       <div class="assign-group-dropdown">
                                        <p-dropdown [options]="supplyTypes"  [(ngModel)]="selected_supplyType"
                                         formControlName="supplyTypeId" styleClass="form-control border-primary"
                                         filter="true" placeholder="Select Supply Type"
                                           [ngClass]="{ 'is-invalid': isSubmittedaddProductForm && signUpControls.supplyTypeId.errors }">
                                        </p-dropdown>
                                        <div *ngIf="isSubmittedaddProductForm && signUpControls.supplyTypeId.errors" class="invalid-feedback">
                                            <div *ngIf="signUpControls.supplyTypeId.errors.required">Supply Type is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Category</label><span class="asterick">*</span> 
                                      <div class="assign-group-dropdown">
                                          <p-dropdown [options]="categories"  [(ngModel)]="selected_category"
                                           formControlName="categoryId" styleClass="form-control border-primary"
                                           filter="true" placeholder="Select Category"
                                             [ngClass]="{ 'is-invalid': isSubmittedaddProductForm && signUpControls.categoryId.errors }">
                                          </p-dropdown>
                                          <div *ngIf="isSubmittedaddProductForm && signUpControls.categoryId.errors" class="invalid-feedback">
                                              <div *ngIf="signUpControls.categoryId.errors.required">Category is required</div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>speciality Type</label>
                                      <div class="assign-group-dropdown">
                                      <p-dropdown [options]="specialities" formControlName="specialityId"
                                       filter="true" placeholder="Select speciality" [(ngModel)]="selected_speciality"
                                       styleClass="form-control">
                                      </p-dropdown>
                                      </div> 
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>Manufacturer/ Brands </label><span class="asterick">*</span>
                                     <div class="assign-group-dropdown">
                                      <p-dropdown [options]="manufacturerBrands"  [(ngModel)]="selected_brand"
                                       formControlName="manufactureId" styleClass="form-control border-primary"
                                       filter="true" placeholder="Select Manufacturer/ Brands"
                                         [ngClass]="{ 'is-invalid': isSubmittedaddProductForm && signUpControls.manufactureId.errors }">
                                      </p-dropdown>
                                      <div *ngIf="isSubmittedaddProductForm && signUpControls.manufactureId.errors" class="invalid-feedback">
                                          <div *ngIf="signUpControls.manufactureId.errors.required">Manufacturer/ Brand is required</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Country Origin</label>
                                  <div class="assign-group-dropdown">
                                      <p-dropdown [options]="c_origins"  [(ngModel)]="selected_cOrigin"
                                       formControlName="countryOriginId" styleClass="form-control border-primary"
                                       filter="true" placeholder="Select Country Origin"
                                         [ngClass]="{ 'is-invalid': isSubmittedaddProductForm && signUpControls.countryOriginId.errors }">
                                      </p-dropdown>
                                      <div *ngIf="isSubmittedaddProductForm && signUpControls.countryOriginId.errors" class="invalid-feedback">
                                          <div *ngIf="signUpControls.countryOriginId.errors.required">Country Origin is required</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <h4 class="form-section mb-0"><i class="ft-user"></i> Price</h4>
                          <div class="row">
                              <div class="col">
                                <div class="form-group">
                                    <label></label>
                                    <div class="issale-check">
                                        <input class="form-check-input" (change)='onSelectQuote($event)' 
                                        formControlName="isQuote" type="checkbox" value="" 
                                        id="isQuote">
                                        <label class="isSale ml-3" for="isQuote">
                                            Quote only?
                                        </label>
                                      </div>                           
                               </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Price</label><span class="asterick">*</span>
                                    <input type="number" min="0" formControlName="MRP" class="form-control border-primary" 
                                    placeholder="Price" value={{priceZero}} [attr.disabled]="disable ? '' : null"
                                    numbersOnly [requiredIf]="!disable">
                                    <div *ngIf="isSubmittedaddProductForm && signUpControls.MRP.errors"  
                                    class="invalid-feedback">
                                      <div *ngIf="signUpControls.MRP.errors.requiredIf.condition">
                                          Price is required</div>
                                  </div>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Compare at Price</label>
                            <fieldset>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="checkbox-addon1">
                                      <input type="checkbox" formControlName="isSale" (change)='onSelectSale($event)' 
                                       aria-label="Checkbox for following text input">
                                    </span>
                                  </div>
                                  <input type="text" class="form-control border-primary" [attr.disabled]="disableSale ? '': null"
                                  formControlName="sellPrice" placeholder="Compare at price"
                                    aria-describedby="checkbox-addon1" />
                                </div>
                              </fieldset>
                              </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label></label>
                                    <div class="issale-check">
                                    <input class="form-check-input" formControlName="noDiscount" type="checkbox" value="" id="isDiscount">
                                    <label class="issale" for="isSale">
                                        No/ Disable Discount code
                                    </label>
                                    </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Override Wallet Price</label>
                                    <input type="number" min="0" class="form-control border-primary" formControlName="walletPrice"  placeholder="Wallet Price" numbersOnly> 
                                    
                                  </div>
                            </div>
                        </div>
                        <h4 class="form-section"><i class="ft-user"></i>Media</h4> 
                        <div class="row">
                            <div class="col-md-3">
                              <h4>Images <span class="asterick"> *</span></h4>
                              <div>Multiple</div>
                              <label class="custom-file mb-3">
                                <input type="file" ng2FileSelect [uploader]="uploader" [requiredIf]="AllItemsRemoved" 
                                formControlName="file" multiple (change)="fileChangeEvent(uploader)" >
                                <span class="custom-file-control"></span>
                              </label>
                              <div *ngIf="isSubmittedaddProductForm && signUpControls.file.errors" class="invalid-feedback mt-0">
                                <div *ngIf="signUpControls.file.errors.requiredIf.condition">Image is required</div>
                            </div> 
                            </div>
                            <div class="col-md-9">
                              <table class="table pt-2">
                                <thead>
                                  <tr>
                                    <th >Name/ Image</th>
                                    <th></th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                      <div *ngFor="let item of uploader.queue;let i = index;">
                                    <td class="text-left"><strong>{{ item?.file?.name}}</strong></td>
                                    <td nowrap class="text-left">
                                      <button type="button" class="btn btn-raised btn-danger btn-sm" (click)="item.remove()" (click)="removeAddedImage(i)">
                                        <span class="fa fa-trash"></span>
                                      </button>
                                    </td>
                                   </div>
                                  </tr>
                                  <tr *ngIf="editMode && checkIfImage(product) && checkIfImage(product.productImage) && product.productImage.length > 0" >
                                  <div *ngFor="let item of product.productImage; let i = index;">
                                    <td class="text-left"><a style="color: #007ad9;" (click)="newtab(item.image)">Image {{i+1}}</a></td>
                                   <td nowrap class="text-right">
                                    <button type="button" *ngIf="!item.isDefault" class="btn btn-raised btn-info btn-sm"  (click)="setDefault1('true',item.productId,item.id)">
                                      Set as Default
                                    </button>
                                    <button type="button"  *ngIf="item.isDefault" class="btn btn-raised btn-success btn-sm"  >
                                      Default
                                    </button>
                                    </td>
                                    <td nowrap class="text-left">
                                      <button type="button" class="btn btn-raised btn-danger btn-sm"  (click)="removeImage(i,item.id, item.image)">
                                        <span class="fa fa-trash"></span> 
                                      </button>
                                    </td>
                                  </div>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                  <label>Catalog</label>
                                  <div class="row">
                                    <div *ngIf="selected_catelogue == 'undefined'" class="col-md-12">
                                        <input  type="file" id="chooseFile" accept="application/pdf" 
                                          (change)="fileChangeEvent1($event)" 
                                          formControlName="catelogue" class="form-control border-primary">
                                       
                                    </div>
                                    <div *ngIf="selected_catelogue != 'undefined'" class="col-md-10">
                                      <input  type="text" 
                                        value={{selected_catelogue}} class="form-control border-primary">
                                          
                                    </div>
                                    <button *ngIf="selected_catelogue != 'undefined'" type="button" class="btn btn-raised btn-danger btn-sm fa fa-trash" 
                                    (click)=removeCatalogue()>
                                   </button>    
                                </div>
                                </div>
                              </div>
                        </div>
                        <h4 class="form-section"><i class="ft-user"></i>Seller Details <span class="asterick"> *</span></h4>
                        <div class="product-page-listing" id="seller">
                            <div class="customer-wrapper">
                                <div class="heading-wrapper">
                                </div>
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr class="table-coustom-style">
                                        <th style="width:20em;">Name<span class="asterick"> *</span></th>
                                        <th >Fee <span class="asterick"> *</span></th>
                                        <th >Quantity/ Stock <span class="asterick"> *</span></th>
                                        <th >Delivery Time(Days) <span class="asterick"> *</span> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr *ngFor="let dynamic of dynamicSeller; let i = index;">
                                        <td>
                                          <p-dropdown [options]="dropdowns"  filter="true" [requiredIf]="sellerDetail" 
                                           [(ngModel)]="dynamicSeller[i].sellerId" [(ngModel)] = "selected_sellerId"
                                           [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" required>
                                          </p-dropdown>
                                        </td>
                                        <td>
                                          <input [(ngModel)]="dynamicSeller[i].sellerFee"  [ngModelOptions]="{standalone: true}" class="form-control" type="number" numbersOnly min="0"/>
                                      
                                        </td>
                                        <td>
                                            <input [(ngModel)]="dynamicSeller[i].quantity" [ngModelOptions]="{standalone: true}" class="form-control"type="number" numbersOnly min="0" />
                                      </td>
                                          <td>
                                            <input [(ngModel)]="dynamicSeller[i].deliveryTime" [ngModelOptions]="{standalone: true}" class="form-control" type="number" numbersOnly min="0" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="(isSubmittedaddProductForm && sellerDetail)" class="invalid-feedback mt-0">
                                <div >Seller Details are required</div>
                            </div> 
                          </div>
                        </div>
                        <h4 class="form-section"><i class="ft-user"></i>Product Description</h4> 
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Short Description</label>
                                      <textarea type="text" cols="30" rows="3" class="form-control border-primary"
                                       formControlName="shortDiscription" placeholder="Short Description"> </textarea>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Embeded Video</label>
                                    <input type="text" formControlName="video" class="form-control border-primary"
                                     placeholder="Embeded Video"> 
                                </div>
                                <span id="sizeValidations">Paste Embeded Code Only.</span>
                            </div>
                          </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Main Description</label>
                                      <ckeditor class="border-primary" formControlName="description" 
                                          (change)="editorValidation(3)"></ckeditor>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Features</label>
                                      <ckeditor class="border-primary" formControlName="features" 
                                      (change)="editorValidation(3)"></ckeditor>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Warranty</label>
                                      <ckeditor class="border-primary" formControlName="warranty" 
                                      (change)="editorValidation(3)"></ckeditor>
                                    </div>
                                </div>
                        </div>
                          <h4 class="form-section"><i class="ft-user"></i>Variants</h4> 
                          <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <div class="issale-check">
                                    <input class="form-check-input" (change)='onSelect($event)' formControlName="isVariant"
                                    type="checkbox">
                                    <label class="isSale ml-3">
                                        This product has multiple options
                                    </label>
                                  </div>                                   </div>
                        </div>
                    </div>
                    <div *ngIf="isVariant" class="product-page-listing">
                        <div class="customer-wrapper">
                            <div class="heading-wrapper">
                            </div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr class="table-coustom-style">
                                    <th style="width:20em;">Name <span class="asterick"> *</span></th>
                                    <th style="width:8em;">SKU/PN Code <span class="asterick"> *</span></th>
                                    <th style="width:8em;">Quantity/Stock <span class="asterick"> *</span></th>
                                    <th style="width:10em;">Price</th>
                                    <th style="width:13em;">Compare at Price </th>
                                    <th style="width:10em;">Override Wallet Price</th>
                                    <th style="width:5em;">Is Quote? </th>
                                    <th style="width:10em;">Seller Fee</th>
                                    <th style="width:10em;">Delivery Time</th>
                                    <th style="width:5em;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                                    <td>
                                      <input [(ngModel)]="dynamicArray[i].variant"  [ngModelOptions]="{standalone: true}" class="form-control" type="text" />
                                    </td>
                                    <td>
                                      <input [(ngModel)]="dynamicArray[i].PNCDE" (blur)="PNCDE_Varient_Check($event.target.value)" [ngModelOptions]="{standalone: true}" class="form-control" type="text"/>
                                    </td>
                                    <td>
                                        <input [(ngModel)]="dynamicArray[i].quantity"  [ngModelOptions]="{standalone: true}" class="form-control"  type="number" numbersOnly min="0"/>
                                      </td>
                                      <td>
                                        <input [(ngModel)]="dynamicArray[i].MRP" value={{variantPriceZero}} [attr.disabled]="dynamicArray[i].isQuote == true ? '' : null" [ngModelOptions]="{standalone: true}"  class="form-control"  type="number" numbersOnly min="0" />
                                      </td>
                                      <td>
                                        <fieldset>
                                            <div class="input-group mb-0">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text" id="checkbox-addon1">
                                                  <input type="checkbox" [ngModelOptions]="{standalone: true}"
                                                  [(ngModel)]="dynamicArray[i].isSale" (change)='onSelectVariantSale($event)' >
                                                </span>
                                              </div>
                                              <input type="number" class="form-control"
                                              [(ngModel)]="dynamicArray[i].sellPrice"  [ngModelOptions]="{standalone: true}" placeholder="Compare at price" [attr.disabled]="dynamicArray[i].isSale != true ? '' : null"
                                                aria-describedby="checkbox-addon1" numbersOnly/>
                                            </div>
                                          </fieldset>
                                    </td>
                                      <td>
                                        <input [(ngModel)]="dynamicArray[i].walletPrice"   [ngModelOptions]="{standalone: true}" class="form-control"  type="number" numbersOnly min="0"/>
                                      </td>  
                                      <td>
                                           <fieldset>
                                            <div class="input-group mb-0" style="padding-left: 7px; padding-top: 5px;">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text" id="checkbox-addon1">
                                                    <input [(ngModel)]="dynamicArray[i].isQuote" id="isQuote" 
                                                      [ngModelOptions]="{standalone: true}"
                                                    type="checkbox" /> </span>
                                              </div>
                                            </div>
                                          </fieldset>
                                        </td> 
                                        <td>
                                          <input [(ngModel)]="dynamicArray[i].sellerFee"   [ngModelOptions]="{standalone: true}" class="form-control"  type="number" numbersOnly />
                                        </td> 
                                        <td>
                                          <input [(ngModel)]="dynamicArray[i].deliveryTime"   [ngModelOptions]="{standalone: true}" class="form-control" type="number" numbersOnly min="0"/>
                                        </td> 
                                    <td >
                                        <i *ngIf="i!=0" (click)="deleteRow(i)" class="ft-trash-2 ft-2x iconDelete" > </i>
                                      </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-right">
                          <button type="button" (click)="addRow(i)" class="btn btn-raised btn-primary btn-darken-3 white">
                            <span class="d-lg-block">Add another option</span>
                        </button>
                        </div> 
                        <div class="col-md-3">
                            
                        </div>
                      </div>
                    </div>
                          <h4 class="form-section"><i class="ft-user"></i>Upsell</h4> 
                          <div class="row">
                             <div class="col-md-6">
                                 <div *ngIf="!editMode" class="form-group">
                                     <label>Related Products</label>
                                     <tag-input formControlName="relatedItem"  placeholder="Enter a Search Term"
                                     (input)="filterRelatedProducts($event.target.value)">
                                         <tag-input-dropdown [showDropdownIfEmpty]="true" [focusFirstElement]="true" 
                                         [displayBy]="'itemName'" [identifyBy]="'id'" [autocompleteItems]="autocompleteItemsAsObjects">
                                           <ng-template let-item="item" let-index="index">
                                            {{ item.itemName }}
                                           </ng-template>
                                         </tag-input-dropdown>
                                       </tag-input> 
                                     </div>
                                     <div *ngIf="editMode" class="form-group">
                                      <label>Related Products</label>
                                      <tag-input formControlName="relatedItem"
                                       placeholder="Enter a Search Term"
                                      (input)="filterRelatedProducts($event.target.value)">
                                          <tag-input-dropdown [showDropdownIfEmpty]="true" [focusFirstElement]="true" 
                                          [displayBy]="'itemName'" [identifyBy]="'id'" [autocompleteItems]="autocompleteItemsAsObjects">
                                            <ng-template let-item="item" let-index="index">
                                             {{ item.itemName }}
                                            </ng-template>
                                          </tag-input-dropdown>
                                        </tag-input> 
                                      </div> 
                             </div> 
                          </div>
                          <h4 class="form-section"><i class="ft-user"></i>SEO</h4> 
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Meta Title</label>
                                      <input type="text" formControlName="metaTitle" class="form-control border-primary" placeholder="Meta Title"> 
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Meta Description</label>
                                      <textarea cols="30" rows="3" type="text" class="form-control border-primary"
                                       formControlName="metaDescription" placeholder="Meta Description"> </textarea>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Meta Keyword</label>
                                      <input type="text" formControlName="metaKeyword" class="form-control border-primary" placeholder="Meta Keyword" >
                              </div>
                              </div>
                          </div>
                          </div>
                      <h4 class="form-section">Quantity Based Discount</h4>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                              <div class="issale-check">
                                  <input class="form-check-input" (change)='onSelectDiscount($event)' formControlName="isQuantityDiscount"
                                  type="checkbox" >
                                  <label class="isSale ml-3" >
                                      This product has Quantity Based Discount
                                  </label>
                                </div>                                   </div>
                      </div>
                  </div>
                      <div *ngIf="isQuantityDiscount" class="customer-wrapper">
                          <div class="heading-wrapper">
                          </div>
                      <table class="table table-striped table-bordered">
                          <thead>
                              <tr class="table-coustom-style">
                                  <th>Minimum Quantity<span class="asterick"> *</span></th>
                                  <th>Maximum Quantity<span class="asterick"> *</span></th>
                                  <th>Price<span class="asterick"> *</span></th> 
                                  <th>Wallet Price</th> 
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                               <tr *ngFor="let dynamic of dynamicQuantity; let i = index;">
                                 <td>
                                    <input [(ngModel)]="dynamicQuantity[i].minQuantity"  [ngModelOptions]="{standalone: true}"  class="form-control" type="number" numbersOnly min="0" />
                                    <div *ngIf="isSubmittedquantityBasedDiscountForm && (dynamicQuantity[i].minQuantity == 0)" class="invalid-feedback">
                                      <div *ngIf="signUpControlsQuantity.minQuantity.errors.required">Quantity is required</div>
                                  </div>
                                  </td>
                                  <td>
                                    <input  [(ngModel)]="dynamicQuantity[i].maxQuantity"   [ngModelOptions]="{standalone: true}" class="form-control" type="number" numbersOnly min="0"/>
                                  </td>
                                  <td>
                                      <input  [(ngModel)]="dynamicQuantity[i].price"  [ngModelOptions]="{standalone: true}" class="form-control" type="number" numbersOnly min="0"/>
                                    </td>
                                    <td>
                                      <input  [(ngModel)]="dynamicQuantity[i].walletPrice"  [ngModelOptions]="{standalone: true}" class="form-control"type="number" numbersOnly min="0"/>
                                    </td>
                                  <td >
                                      <i *ngIf="i!=0" (click)="deleteQuantity(i)" class="ft-trash-2 ft-2x iconDelete" > </i>
                                    </td>
                              </tr>
                          </tbody>
                      </table>
                      <div class="text-right">
                        <button type="button"  (click)="addQuantity(i)" class="btn btn-raised btn-primary btn-darken-3 white">
                            <span class="d-lg-block">Add another option</span>
                        </button>
                      </div> 
                    </div>
                    <div *ngIf="!editMode" class="form-actions right">
                      <button type="button" [routerLink]="['/catalogues/products']" class="btn btn-raised btn-warning mr-1"> Back </button>
                      <button type="submit" class="btn btn-raised btn-primary" [disabled]="(!addProductForm.dirty || validatePN)">Submit</button>
                  </div>
                  <div *ngIf="editMode" class="form-actions right">
                    <button type="button" [routerLink]="['/catalogues/products']" class="btn btn-raised btn-warning mr-1"> Back</button>
                    <button type="submit" class="btn btn-raised btn-primary" [disabled]="(!addProductForm.dirty)">Submit</button>
                </div>
                  
                  </form> 
              </div>
          </div>
      </div>
  </div>