<div class="row container breadcrum-container">
  <ul class="col-sm-12 pl-0">
    <li>
      <a [routerLink]="['/systemsetting/supplytype']">Supply Type</a>
    </li>
    <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
    </li>
    <li>
      {{userTitle}}
    </li>
  </ul>
  <div class="content-header text-left pb-3">{{userTitle}}</div>
</div>
<div class="row ">
  <div class="col-md-12">
      <div class="card">
          <div class="card-content">
              <div class="px-3 pt-3">
<form class="form" [formGroup]="addUserForm" (ngSubmit)="onSubmitUserForm()">
  <div class="form-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Supply Type</label><span class="asterick">*</span> 
          <input type="text" class="form-control border-primary" placeholder="Supply Type" formControlName="name"
            [ngClass]="{ 'is-invalid': isSubmittedaddBrandForm && signUpControls.name.errors }">
          <div *ngIf="isSubmittedaddSellerForm && signUpControls.name.errors" class="invalid-feedback">
            <div *ngIf="signUpControls.name.errors.required">Supply Type is required</div>
          
        </div>
        </div>
        </div>
    
      <div class="col-md-6">
        <div class="form-group">
          <div class="assign-group-dropdown">
          <label>Country</label><span class="asterick">*</span>
          <p-dropdown [options]="countries" formControlName="countryId" styleClass="form-control border-primary"
              (onChange)="getdropdown($event)" filter="true" placeholder="Select Country"
              [ngClass]="{ 'is-invalid': isSubmittedaddBrandForm && signUpControls.countryId.errors }">
            </p-dropdown>
          <div *ngIf="isSubmittedaddSellerForm && signUpControls.countryId.errors" class="invalid-feedback">
            <div *ngIf="signUpControls.countryId.errors.required">Country is required</div>
          
        </div>
        </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="form-actions right">
    <button type="button" [routerLink]="['/systemsetting/supplytype']" class="btn btn-raised btn-warning mr-1"> Back
    </button>
    <button type="submit" class="btn btn-raised btn-primary" [disabled]="!addUserForm.dirty"> Submit
    </button>
  </div>
</form>
              </div>
              </div>
              </div>
              </div>
              </div>
