<div class="row container breadcrum-container">
    <ul class="col-sm-12 pl-0">
        <li>
            <a [routerLink]="[' /systemsetting/country']">Country</a>
        </li>
        <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
        </li>
        <li>
            {{countryTitle}}
        </li>
    </ul>
    <div class="content-header text-left">{{countryTitle}}</div>
</div>
<div class="row ">
  <div class="col-md-12">
      <div class="pt-3">
          <div class="">
              <div class="">
                  <form class="form" [formGroup]="addCountryForm" (ngSubmit)="onSubmitCountryForm()">
                      <div class="form-body">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Select Country</label><span class="asterick">*</span>
                                         <div class="assign-group-dropdown">
                                          <p-dropdown [options]="countries" formControlName="countryName" styleClass="form-control border-primary" (onChange)="getdropdown($event)"  filter="true" placeholder="Select Country"  [ngClass]="{ 'is-invalid': isSubmittedaddCountryForm && signUpControls.countryName.errors }">
                                           </p-dropdown>
                                          <div *ngIf="isSubmittedaddCountryForm && signUpControls.countryName.errors" class="invalid-feedback">
                                              <div *ngIf="signUpControls.countryName.errors.required">Country is required</div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Regional Languages </label><span class="asterick">*</span>
                                    <p-dropdown [options]="languages" formControlName="regionalLanguage" styleClass="form-control border-primary" (onChange)="getdropdown($event)"  filter="true" placeholder="Select Language"  [ngClass]="{ 'is-invalid': isSubmittedaddCountryForm && signUpControls.regionalLanguage.errors }">
                                    </p-dropdown>
                                    <div *ngIf="isSubmittedaddCountryForm && signUpControls.regionalLanguage.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.regionalLanguage.errors.required">Language is required</div>
                                    </div>
                                </div>
                            </div>
                          </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Local Languages </label>
                                        <select formControlName="localLanguage" class="form-control border-primary"
                                            placeholder="Select Language"
                                            [ngClass]="{ 'is-invalid': isSubmittedaddCountryForm && signUpControls.localLanguage.errors }">
                                            <option value="" >Select Local Language</option>
                                            <option value={{language}} *ngFor="let language of languages">{{language}}
                                            </option>
                                        </select>
                                        <!-- <div *ngIf="isSubmittedaddCountryForm && signUpControls.localLanguage.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="signUpControls.localLanguage.errors.required">Language is required
                                            </div>
                                        </div> -->
                                    </div>
                                </div>                          
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Currency </label><span class="asterick">*</span>
                                        <p-dropdown [options]="currencies" formControlName="currency" styleClass="form-control border-primary" (onChange)="getdropdown($event)"  filter="true" placeholder="Select Currency"  [ngClass]="{ 'is-invalid': isSubmittedaddCountryForm && signUpControls.currency.errors }">
                                        </p-dropdown>
                                        <div *ngIf="isSubmittedaddCountryForm && signUpControls.currency.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="signUpControls.currency.errors.required">Currency is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-actions right">
                            <button type="button" [routerLink]="['/systemsetting/country']"
                                class="btn btn-raised btn-warning mr-1"> Back
                            </button>
                            <button type="submit" class="btn btn-raised btn-primary">Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>