<!-- <div class="row container breadcrum-container">
  <ul class="col-sm-12 pl-0">
      <li>
          <a [routerLink]="['seller/sellers']">Seller</a>
      </li>
      <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
      </li>
      <li>
          {{sellerTitle}}
      </li>
  </ul>
  <div class="content-header text-left">{{sellerTitle}}</div>
</div> -->
<div class="row ">
  <div class="col-md-12">
      <div class="card">
          <div class="card-content">
              <div class="px-3">
                  <form class="form" [formGroup]="editCountryForm" (ngSubmit)="onSubmitCountryForm()">
                      <div class="form-body">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Select Country</label><span class="asterick">*</span>
                                         <div class="assign-group-dropdown">
                                          <p-dropdown [options]="countries" formControlName="countryId" styleClass="form-control border-primary" (onChange)="getdropdown($event)"  filter="true" placeholder="Select Country"  [ngClass]="{ 'is-invalid': isSubmittedCountryForm && signUpControls.countryId.errors }"
                                        >
                                          </p-dropdown>
                                          <div *ngIf="isSubmittedCountryForm && signUpControls.countryId.errors" class="invalid-feedback">
                                              <div *ngIf="signUpControls.countryId.errors.required">Country is required</div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Languages</label><span class="asterick">*</span> 
                                      <input type="text" formControlName="language" class="form-control border-primary" placeholder="Languages" [ngClass]="{ 'is-invalid': isSubmittedCountryForm && signUpControls.language.errors }">
                                      <div *ngIf="isSubmittedCountryForm && signUpControls.language.errors" class="invalid-feedback">
                                          <div *ngIf="signUpControls.language.errors.required">language is required</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Currency </label><span class="asterick">*</span>
                                    <select formControlName="currency" class="form-control border-primary" placeholder="Select Currency" [ngClass]="{ 'is-invalid': isSubmittedCountryForm && signUpControls.currency.errors }">
                                        <option value="" >Select Currency</option>
                                        <option value={{currency}} *ngFor="let currency of currencies">{{currency}}
                                        </option>
                                    </select>
                                    <div *ngIf="isSubmittedCountryForm && signUpControls.currency.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.currency.errors.required">Title is required</div>
                                    </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Status </label><span class="asterick">*</span>
                                    <select formControlName="status" class="form-control border-primary" placeholder="Select Status" [ngClass]="{ 'is-invalid': isSubmittedCountryForm && signUpControls.status.errors }">
                                        <option value="" >Select Status</option>
                                        <option value={{status}} *ngFor="let status of statuses">{{status}}
                                        </option>
                                    </select>
                                    <div *ngIf="isSubmittedCountryForm && signUpControls.title.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.title.errors.required">Title is required</div>
                                    </div>
                                </div>
                              </div> 
                          </div>
                          
                      </div>
                      <div class="form-actions right">
                          <button type="button" [routerLink]="['seller/sellers']" class="btn btn-raised btn-warning mr-1"> Back
            </button>
                          <button type="submit" class="btn btn-raised btn-primary">Submit
            </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
