<div class="row container breadcrum-container">
    <ul class="col-sm-12 pl-0">
        <li>
            <a [routerLink]="[' /systemsetting/country']">Country</a>
        </li>
        <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
        </li>
        <li>
            {{countryTitle}}
        </li>
    </ul>
    <div class="content-header text-left">{{countryTitle}}</div>
</div>
<div class="row ">
  <div class="col-md-12">
      <div class="card">
          <div class="card-content">
              <div class="px-3">
                  <form class="form" [formGroup]="addCountryForm" (ngSubmit)="onSubmitCountryForm()">
                      <div class="form-body">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label>Select Country</label><span class="asterick">*</span>
                                         <div class="assign-group-dropdown">
                                          <p-dropdown [options]="countries" formControlName="countryName" styleClass="form-control border-primary" (onChange)="getdropdown($event)"  filter="true" placeholder="Select Country"  [ngClass]="{ 'is-invalid': isSubmittedaddCountryForm && signUpControls.countryName.errors }"
                                        >
                                           </p-dropdown>
                                          <div *ngIf="isSubmittedaddCountryForm && signUpControls.countryName.errors" class="invalid-feedback">
                                              <div *ngIf="signUpControls.countryName.errors.required">Country is required</div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group">
                                    <label>Languages </label><span class="asterick">*</span>
                                    <select formControlName="language" class="form-control border-primary" placeholder="Select Language" [ngClass]="{ 'is-invalid': isSubmittedaddCountryForm && signUpControls.language.errors }">
                                        <option value="" >Select Language</option>
                                        <option value={{language}} *ngFor="let language of languages">{{language}}
                                        </option>
                                    </select> 
                                    <div *ngIf="isSubmittedaddCountryForm && signUpControls.language.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.language.errors.required">Languages is required</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Languages </label><span class="asterick">*</span>
                                        <select formControlName="language" class="form-control border-primary"
                                            placeholder="Select Language"
                                            [ngClass]="{ 'is-invalid': isSubmittedaddCountryForm && signUpControls.language.errors }">
                                            <option value="" >Select Language</option>
                                            <option value={{language}} *ngFor="let language of languages">{{language}}
                                            </option>
                                        </select>
                                        <div *ngIf="isSubmittedaddCountryForm && signUpControls.language.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="signUpControls.language.errors.required">Languages is required
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                      <label>Languages</label><span class="asterick">*</span> 
                                      <input type="text" formControlName="languages" class="form-control border-primary" placeholder="Languages" [ngClass]="{ 'is-invalid': isSubmittedaddCountryForm && signUpControls.languages.errors }">
                                      <div *ngIf="isSubmittedaddCountryForm && signUpControls.languages.errors" class="invalid-feedback">
                                          <div *ngIf="signUpControls.languages.errors.required">language is required</div>
                                      </div>
                                  </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Currency </label><span class="asterick">*</span>
                                        <select formControlName="currency" class="form-control border-primary"
                                            placeholder="Select Currency"
                                            [ngClass]="{ 'is-invalid': isSubmittedaddCountryForm && signUpControls.currency.errors }">
                                            <option value="" >Select Currency</option>
                                            <option value={{currency}} *ngFor="let currency of currencies">{{currency}}
                                            </option>
                                        </select>
                                        <div *ngIf="isSubmittedaddCountryForm && signUpControls.currency.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="signUpControls.currency.errors.required">Currency is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-actions right">
                            <button type="button" [routerLink]="['/systemsetting/country']"
                                class="btn btn-raised btn-warning mr-1"> Back
                            </button>
                            <button type="submit" class="btn btn-raised btn-primary">Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>