<div class="row mt-2">
  <div class="col-6">
    <div class="content-header text-left">Dashboard</div>
    <p class="content-sub-header"></p>
  </div>
</div>
<h4 class="ml-2 mt-2 text-bold-500 text-left underLine">Revenue</h4>
<div class="row justify-content text-left" matchHeight="card">
  <div class="col-xl-4 col-lg-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="px-2 py-3">
          <div class="media">
            <div class="media-body warning text-left">
              <h2 class="total-sales-price">$5432.12</h2>
              <span>Total Sales</span>
            </div>
            <div class="media-right card-icon warning text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
          <div class="dashboard-progress">
            <ngb-progressbar [value]="250"></ngb-progressbar>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="px-2 py-3">
          <div class="media">
            <div class="media-body success text-left">
              <h2 class="total-sales-price">$5432.12</h2>
              <span>Offline Sales</span>
            </div>
            <div class="media-right card-icon success text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
          <div class="dashboard-progress">
            <ngb-progressbar [value]="350"></ngb-progressbar>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="px-2 py-3">
          <div class="media">
            <div class="media-body danger text-left">
              <h2 class="total-sales-price">$5432.12</h2>
              <span>Online Sales</span>
            </div>
            <div class="media-right card-icon danger text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
          <div class="dashboard-progress">
            <ngb-progressbar [value]="450"></ngb-progressbar>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 class="ml-2 mt-2 text-bold-500 text-left underLine">Sales</h4>
<div class="row justify-content text-left" matchHeight="card">
  <div class="col-xl-4 col-lg-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="px-2 py-3">
          <div class="media">
            <div class="media-body warning text-left">
              <h2 class="total-sales-price">2233</h2>
              <span>New Orders</span>
            </div>
            <div class="media-right card-icon warning text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
          <div class="dashboard-progress">
            <ngb-progressbar [value]="250"></ngb-progressbar>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="px-2 py-3">
          <div class="media">
            <div class="media-body success text-left">
              <h2 class="total-sales-price">1233</h2>
              <span>New Quotation Request</span>
            </div>
            <div class="media-right card-icon success text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
          <div class="dashboard-progress">
            <ngb-progressbar [value]="150"></ngb-progressbar>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="px-2 py-3">
          <div class="media">
            <div class="media-body danger text-left">
              <h2 class="total-sales-price">2533</h2>
              <span>Return Order Request</span>
            </div>
            <div class="media-right card-icon danger text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
          <div class="dashboard-progress">
            <ngb-progressbar [value]="250"></ngb-progressbar>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 class="ml-2 mt-2 text-bold-500 text-left underLine">Pay32</h4>
<div class="row justify-content text-left" matchHeight="card">
  <div class="col-xl-4 col-lg-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="px-2 py-3">
          <div class="media">
            <div class="media-body warning text-left">
              <h2 class="total-sales-price">$5432.12</h2>
              <span>Spent through Wallet</span>
            </div>
            <div class="media-right card-icon warning text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
          <div class="dashboard-progress">
            <ngb-progressbar [value]="350"></ngb-progressbar>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="px-2 py-3">
          <div class="media">
            <div class="media-body success text-left">
              <h2 class="total-sales-price">$5432.12</h2>
              <span>Spent through Grab</span>
            </div>
            <div class="media-right card-icon success text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
          <div class="dashboard-progress">
            <ngb-progressbar [value]="350"></ngb-progressbar>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="px-2 py-3">
          <div class="media">
            <div class="media-body danger text-left">
              <h2 class="total-sales-price">$5432.12</h2>
              <span>Spent through GBFS</span>
            </div>
            <div class="media-right card-icon danger text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
          <div class="dashboard-progress">
            <ngb-progressbar [value]="250"></ngb-progressbar>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 class="ml-2 mt-2 text-bold-500 text-left underLine">Customers/ Sellers/ Products</h4>
<div class="row justify-content text-left" matchHeight="card">
  <div class="col-xl-4 col-lg-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="px-2 py-3">
          <div class="media">
            <div class="media-body warning text-left">
              <h2 class="total-sales-price">2233</h2>
              <span>New Customers</span>
            </div>
            <div class="media-right card-icon warning text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
          <div class="dashboard-progress">
            <ngb-progressbar [value]="150"></ngb-progressbar>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="px-2 py-3">
          <div class="media">
            <div class="media-body success text-left">
              <h2 class="total-sales-price">123</h2>
              <span>New Sales</span>
            </div>
            <div class="media-right card-icon success text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
          <div class="dashboard-progress">
            <ngb-progressbar [value]="250"></ngb-progressbar>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6 col-12">
    <div class="card">
      <div class="card-content">
        <div class="px-2 py-3">
          <div class="media">
            <div class="media-body danger text-left">
              <h2 class="total-sales-price">22</h2>
              <span>New Customers</span>
            </div>
            <div class="media-right card-icon danger text-right">
              <i class="icon-pie-chart font-large-1"></i>
            </div>
          </div>
          <div class="dashboard-progress">
            <ngb-progressbar [value]="250"></ngb-progressbar>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 class="ml-2 mt-2 text-bold-500 text-left underLine">Others</h4>
<div class="row">
<div class="col-xl-4 col-lg-12">
  <div class="card">
    <div class="card-content">
      <div class="card-body padding-2">
        <h4 class="card-title">Top 5 Customers</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item text-left">
          <span class="badge bg-primary float-right text-white">$100</span> Customers 1
        </li>
        <li class="list-group-item text-left">
          <span class="badge bg-info float-right text-white">$100</span> Customers 2
        </li>
        <li class="list-group-item text-left">
          <span class="badge bg-warning float-right text-white">$100</span> Customers 3
        </li>
        <li class="list-group-item text-left">
          <span class="badge bg-success float-right text-white">$100</span> Customers 4
        </li>
        <li class="list-group-item text-left">
          <span class="badge bg-danger float-right text-white">$100</span> Customers 5
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-12">
  <div class="card">
    <div class="card-content">
      <div class="card-body padding-2">
        <h4 class="card-title">Top 5 Sellers</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item text-left">
          <span class="badge bg-primary float-right text-white">$100</span> Sellers 1
        </li>
        <li class="list-group-item text-left">
          <span class="badge bg-info float-right text-white">$100</span> Sellers 2
        </li>
        <li class="list-group-item text-left">
          <span class="badge bg-warning float-right text-white">$100</span> Sellers 3
        </li>
        <li class="list-group-item text-left">
          <span class="badge bg-success float-right text-white">$100</span> Sellers 4
        </li>
        <li class="list-group-item text-left">
          <span class="badge bg-danger float-right text-white">$100</span> Sellers 5
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-xl-4 col-lg-12">
  <div class="card">
    <div class="card-content">
      <div class="card-body padding-2">
        <h4 class="card-title">Top 5 Products</h4>
      </div>
      <ul class="list-group">
        <li class="list-group-item text-left">
          <span class="badge bg-primary float-right text-white">45</span> Products 1
        </li>
        <li class="list-group-item text-left">
          <span class="badge bg-info float-right text-white">25</span> Products 2
        </li>
        <li class="list-group-item text-left">
          <span class="badge bg-warning float-right text-white">65</span> Products 3
        </li>
        <li class="list-group-item text-left">
          <span class="badge bg-success float-right text-white">15</span> Products 4
        </li>
        <li class="list-group-item text-left">
          <span class="badge bg-danger float-right text-white">35</span> Products 5
        </li>
      </ul>
    </div>
  </div>
</div>
</div> 
