<div class="row container breadcrum-container">
  <ul class="col-sm-12 pl-0">
      <li>
          <a [routerLink]="['/systemsetting/tax']">Tax</a>
      </li>
      <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
      </li>
      <li>
          {{taxTitle}} 
      </li>
  </ul>
  <div class="content-header text-left">{{taxTitle}}</div>
</div>
<div class="row ">
  <div class="col-md-12">
      <div class="card">
          <div class="card-content">
              <div class="px-3 pt-3">
                <form class="form" [formGroup]="addTaxForm" (ngSubmit)="onSubmitTaxForm()">
                    <div class="form-body">
                        <div class="row">
                            
                            <div class="col-md-6">
                              <div class="form-group">
                                  <label>Select Country</label><span class="asterick">*</span>
                                    <div class="assign-group-dropdown">
                                      <p-dropdown [options]="countries" formControlName="countryId" styleClass="form-control border-primary" (onChange)="getdropdown1($event)"  filter="true" placeholder="Select Country"  [ngClass]="{ 'is-invalid': isSubmittedaddTaxForm && signUpControls.countryId.errors }">
                                      </p-dropdown>
                                      <div *ngIf="isSubmittedaddTaxForm && signUpControls.countryId.errors" class="invalid-feedback">
                                          <div *ngIf="signUpControls.countryId.errors.required">Country is required</div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tax Code</label><span class="asterick">*</span> 
                                    <input type="text" class="form-control border-primary" placeholder="Tax Code" formControlName="taxCode" [ngClass]="{ 'is-invalid': isSubmittedaddTaxForm && signUpControls.taxCode.errors }">
                                    <div *ngIf="isSubmittedaddTaxForm && signUpControls.taxCode.errors" class="invalid-feedback">
                                        <div *ngIf="signUpControls.taxCode.errors.required">Tax Code is required</div>
                                    </div> 
                                </div>    
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Tax Rate</label><span class="asterick">*</span>
                                  <input type="number" class="form-control border-primary" placeholder="Rate" formControlName="taxRate" [ngClass]="{ 'is-invalid': isSubmittedaddTaxForm && signUpControls.taxRate.errors }" numbersOnly>
                                  <div *ngIf="isSubmittedaddTaxForm && signUpControls.taxRate.errors" class="invalid-feedback">
                                    <div *ngIf="signUpControls.taxRate.errors.required">Tax Rate is required</div>
                                </div> 
                              </div>
                          </div> 
                      </div>
                      </div> 
                      <div class="form-actions right">
                          <button type="button" [routerLink]="['/systemsetting/tax']"
                              class="btn btn-raised btn-warning mr-1"> Back
                          </button>
                          <button type="submit" class="btn btn-raised btn-primary" [disabled]="!addTaxForm.dirty" >Submit</button>
                      </div>
                  </form>
              </div> 
          </div>
      </div>
  </div>
</div>