<div class="row container breadcrum-container">
  <ul class="col-sm-12 pl-0">
      <li>
          <a [routerLink]="['/systemsetting/cancel']">Cancel</a>
      </li>
      <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
      </li>
      <li>
          {{cancelTitle}}
      </li>
  </ul>
  <div class="content-header text-left">{{cancelTitle}}</div>
</div>
<div class="row ">
  <div class="col-md-12">
      <div class="card">
          <div class="card-content">
              <div class="px-3 pt-3">
                <form class="form" [formGroup]="addCancelForm" (ngSubmit)="onSubmitcancelForm()">
                    <div class="form-body">
                        <div class="row">
                          
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Reason</label><span class="asterick">*</span> 
                                <input type="text" formControlName="reason" class="form-control border-primary" placeholder="reason" [ngClass]="{ 'is-invalid': isSubmittedaddCancelForm && signUpControls.reason.errors }">
                                <div *ngIf="isSubmittedaddCancelForm && signUpControls.reason.errors" class="invalid-feedback">
                                    <div *ngIf="signUpControls.reason.errors.required">reason is required</div>
                                </div>   
                            </div>
                          </div>
                    
                      
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Select Country</label><span class="asterick">*</span>
                                      <div class="assign-group-dropdown">
                                      <p-dropdown [options]="countries" formControlName="countryId" (onChange)="getdropdown1($event)" styleClass="form-control border-primary" filter="true" placeholder="Select Country"  [ngClass]="{ 'is-invalid': isSubmittedaddCancelForm && signUpControls.countryId.errors }"
                                      >
                                      </p-dropdown>
                                      <div *ngIf="isSubmittedaddCancelForm && signUpControls.countryId.errors" class="invalid-feedback">
                                          <div *ngIf="signUpControls.countryId.errors.required">Country is required</div>
                                          
                                      </div>
                                  </div>
                              </div>
                              </div>
                         
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Select Language</label><span class="asterick">*</span>
                                        <div class="assign-group-dropdown">
                                           <p-dropdown [options]="languages" formControlName="languageId" styleClass="form-control border-primary"   filter="true" placeholder="Select language"  [ngClass]="{ 'is-invalid': isSubmittedaddCancelForm && signUpControls.languageId.errors }"  
                                        >
                                            </p-dropdown>
                                            <div *ngIf="isSubmittedaddCancelForm && signUpControls.languageId.errors" class="invalid-feedback">
                                                <div *ngIf="signUpControls.languageId.errors.required"> Language is required</div>
                                            </div> 
                                  
                                    </div>
                                  </div>
                                  </div>
                            </div>
                      </div>
                      <div class="form-actions right">
                         
             <button type="button" [routerLink]="['/systemsetting/cancel']" class="btn btn-raised btn-warning mr-1"> Back
                          </button>
         SSSS <button type="submit" class="btn btn-raised btn-primary" [disabled]="!addCancelForm.dirty">Submit
                          </button>
                      </div>
                  </form>
              </div>
          </div>
    
  </div>
</div>