<div class="row container">
    <div class="content-header text-left">Permissions</div>
    <p class="content-sub-header"></p>
</div>
<div class="row paddingSearch">
    <form class="col-4 navbar-form navbar-right text-left mt-1" role="search">
        <div class="position-relative has-icon-right">
            <!-- <input type="text" class="form-control round" placeholder="Search"> -->
            <input [(ngModel)]="searchBar" [ngModelOptions]="{standalone: true}" type="text" class="form-control round searchBtn" pInputText placeholder="Search" (input)="filterGlobal($event.target.value)"/>
            <div class="form-control-position">
                <i class="ft-search"></i>
            </div>
        </div>
    </form>
    <div class="col-8 text-right pr-0">
        <button type="button" class="btn btn-raised btn-primary btn-darken-3 white">
        <i class="fa fa-paper-plane-o d-lg-none d-block"></i>
        <span class="d-lg-block d-none" (click)="onAddPerGroup()">Add New</span>
    </button>
    </div>
</div>
<div class="users-wrapper">
    <div class="table-wrapper vehicle-wrapper">
        <p-table [value]="perGroupList" styleClass="table-list-wrapper" [responsive]="true" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10" [lazy]="true" [totalRecords]="totalCount">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:6em">S No.
                    </th>
                    <th style="width:16em">Country</th>
                    <th>Permission Group Name</th>
                    <th style="width:16em">Permissions</th>
                    <th style="width:6em">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td class="order-date-wrapper"><span class="ui-column-title">S. No</span>{{user.groupId}}</td>
                    <td ><span class="ui-column-title">Country</span>
                        <ng-container *ngFor="let country of user.countries">
                            <span>{{country.itemName}}</span>         
                      </ng-container></td>
                    <td><span class="ui-column-title">Permission Group Name</span>{{user.groupName}}</td>
                    <td ><span class="ui-column-title">Permission</span>
                        <a class="text" (click)="open(content, user.permission)"><b>View Permission </b></a>
                        
                    </td>
                    <td>
                        <span class="ui-column-title">Action</span>
                        <div class="dropdown">
                            <a class="glyphicon glyphicon-cog dropdown-toggle" type="button" data-toggle="dropdown">

                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a (click)="getDropDownValue($event,user.groupId)">Edit</a></li>
                                <li><a (click)="getDropDownValue($event,user.groupId)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center text-danger font-weight-600" colspan="8">No Records Found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div> 
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title title"><b>Permissions</b></h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" *ngFor="let permission of permissions">
            <ngb-panel class="p-0" id="ngb-panel-0" title={{permission.menuName}} >
              <ng-template ngbPanelContent>
                  <div *ngFor="let childMenu of permission.childMenu">
                    <span>{{childMenu.itemName}}</span>
                  </div>
            </ng-template>
            </ngb-panel>
            </ngb-accordion>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>