<section class="full-height-wrapper bg-theme-grey auth-bg">
  <div class="section-content full-height-wrapper">
    <div class="centered-box shadow-lg">
      <div class="box-image bg-theme-white flex-column">
        <figure>
          <!-- <img src="assets/project-images/framebazaar Logo.svg" alt="Framebazaar Logo"> -->
          <h1><b>Tyko</b></h1>
        </figure>
      </div>
      <div class="box-content bg-white">
        <div class="content" *ngIf="!resetStatus">
          <h3 class="heading font-medium color-dark-grey">RESET PASSWORD</h3>
          <p class="sub-heading font-medium color-light-grey">Set your new password.</p>
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="auth-form custom-form">
            <input type="password" placeholder="New Password" formControlName="password">
            <div *ngIf="resetPasswordForm.controls.password.invalid && (resetPasswordForm.controls.password.dirty || resetPasswordForm.controls.password.touched) && isResetPasswordSubmitted"
              class="error">
              <p *ngIf="resetPasswordForm.controls.password.hasError('required')">Password is required</p>
              <p *ngIf="!resetPasswordForm.controls.password.hasError('required') && resetPasswordForm.controls.password.hasError('minlength')">
                Password should be 6-15 characters long</p>
            </div>
            <input type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            <div *ngIf="resetPasswordForm.controls.confirmPassword.invalid && (resetPasswordForm.controls.confirmPassword.dirty || resetPasswordForm.controls.confirmPassword.touched) && isResetPasswordSubmitted"
              class="error">
              <p *ngIf="resetPasswordForm.controls.confirmPassword.hasError('required')">Confirm Password is required
              </p>
            </div>

            <div *ngIf="resetPasswordForm.invalid && isResetPasswordSubmitted" class="error">
              <p *ngIf="resetPasswordForm.errors?.passwordmatchfailed">Passwords do not match.</p>
            </div>
            <button type="submit" class="custom-btn theme-btn text-center block-center">Reset</button>
          </form>
        </div>

        <div class="content" *ngIf="resetStatus">
          <h3 class="heading font-medium color-dark-grey">CONGRATULATIONS!</h3>
          <p class="sub-heading font-medium color-light-grey">Your password has been reset. Please login with the new
            password.</p>
          <button type="button" class="custom-btn theme-btn text-center block-center" routerLink="../login">Back to
            Login</button>
        </div>
      </div>
    </div>
  </div>
</section>