.dashboard-content {
    background-color: $white;
    // padding: 29px 0;
    padding: 15px 29px 24px 29px;
    @media(min-width: $screen-xl-max) {
        padding-right: 40px;
    }
}

.block-shadow {
    @include boxShadow(0, 4px, 15px, rgba($shadow_clr, 0.18));
}