<div class="row container">
  <div class="content-header text-left">Categories</div>
  <p class="content-sub-header"></p> 
</div>
<div class="row paddingSearch">
  <form class="col-4 navbar-form navbar-right text-left mt-1" role="search">
      <div class="position-relative has-icon-right">
          <!-- <input type="text" class="form-control round" placeholder="Search"> -->
          <input [ngModelOptions]="{standalone: true}"  type="text" class="form-control round searchBtn" pInputText placeholder="Search" [(ngModel)]="searchBar"  (input)="filterGlobal($event.target.value)"/>
          <div class="form-control-position">
              <i class="ft-search"></i>
          </div>
      </div>
  </form>
</div>
<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-12"> 
        <fieldset class="form-group">
            <label for="basicSelect">Country</label>
            <select class="form-control" id="basicSelect" (change)="onChange($event.target.value)">
                 <option value=null>All</option>
                <option *ngFor="let countries of countries" [value]="countries.id">{{countries.itemName}}</option> 
            </select>
        </fieldset>    
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
        <!-- <fieldset class="form-group">
            <label for="basicSelect">Supply Type</label>
            <select class="form-control" id="basicSelect" (change)="onChange($event.target.value)">
                <option value="">ALL</option>
                <option *ngFor="let type of supplytype" [value]="supplytype.id">{{supplytype.type}}</option> 
            </select>
        </fieldset>    -->
    </div> 
  <div class="col-6 text-right button-export">
      <button type="button" class="btn btn-raised btn-primary btn-darken-3 white">
    <i class="fa fa-paper-plane-o d-lg-none d-block"></i>
    <div class="dropdown">
      <a class="d-lg-block d-none dropdown-toggle" data-toggle="dropdown" >Export</a>
      <ul class="dropdown-menu" role="menu">
          <li><a (click)="exportAsXLSX(0)" >Current Data</a></li>
          <li><a (click)="exportAsXLSX(1)" >All Data</a></li>
      </ul>
  </div>
  </button>
      <button type="button" class="btn btn-raised btn-primary btn-darken-3 white">
    <i class="fa fa-paper-plane-o d-lg-none d-block"></i>
    <span class="d-lg-block d-none" (click)="onAddCategories()">Add New</span>
  </button>
  </div>
</div>
<div class="customer-wrapper">
  <div class="heading-wrapper">
  </div>

  <div class="table-wrapper vehicle-wrapper">
      <p-table [value]="categoriesList"  styleClass="table-list-wrapper" [responsive]="true" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10"  [lazy]="true" (onLazyLoad)="loadDataLazy($event)" [lazy]="true" (onLazyLoad)="loadDataLazy($event)"  [totalRecords]="totalCount">
        <!-- [lazy]="true" (onLazyLoad)="loadDataLazy($event)" -->
          <ng-template pTemplate="header">
              <tr>
                  <th style="width:5em">S. No.</th>
                  <th style="width: 14em;">Parent Category</th>
                  <!-- <th style="width: 12em;">Child No.</th> -->
                  <th style="width: 12em;">Name</th> 
                  <th style="width: 12em;">Country</th>
                  <th style="width: 9em;">Status</th>  
                  <th style="width: 9em;">Action</th>
              </tr>
          </ng-template> 
          <ng-template pTemplate="body" let-category >
              <tr>
                  <td class="order-date-wrapper"><span class="ui-column-title">S. No</span>{{category.id}}</td>
                  <td><span class="ui-column-title">Parent Category</span>{{category.parentCategory.categoryName}}</td>
                  <!-- <td><span class="ui-column-title">Child No.</span></td> -->
                  <td><span class="ui-column-title">Name</span>{{category.categoryName}}</td>
                  <td><span class="ui-column-title">Country</span>{{category.country.countryName}}</td>
                  <td >
                      <span class="ui-column-title ">Status</span> 
                      
                      <div class="dropdown">
                      <a class="dropdown-toggle badge colorStatus" [ngClass]="{ 'badge-primary': category.adminStatus === 1 , 'badge-danger': category.adminStatus === 0 }" type="button" data-toggle="dropdown">{{(category.adminStatus === 1) ? 'Active' : 'Inactive'}}

                      </a>
                          <ul class="dropdown-menu">
                              <li [hidden]="category.adminStatus == 1"><a (click)="setStatus(category.id ,1, $event)">Active</a></li>
                              <li [hidden]="category.adminStatus == 0"><a (click)="setStatus(category.id,0, $event)">Inactive</a></li>
                          </ul>
                      </div>
                                            
                  </td> 
                  <td>
                       <span class="ui-column-title">Action</span>
                      <!-- <p-dropdown class="icons" [options]="actions" [showClear]="true" styleClass="prime-dropdown-wrapper widthMin" (onChange)="getDropDownValue($event,customer.customerId)">
                      </p-dropdown>  -->
                      <div class="dropdown">
                          <a class="glyphicon glyphicon-cog dropdown-toggle" type="button" data-toggle="dropdown">

                          </a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a (click)="getDropDownValue($event,category.id)" >Edit</a></li>
                              <li><a (click)="getDropDownValue($event,category.id)">Delete</a></li>
                          </ul>
                      </div>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
              <tr>
                  <td class="text-center text-danger font-weight-600" colspan="6">No Records Found.</td>
              </tr>
          </ng-template>
      </p-table>
  </div>
</div>
