<div class="row container">
    <div class="content-header text-left">Customer Group</div>
    <p class="content-sub-header"></p>
</div>
<div class="row paddingSearch">
    <form class="col-4 navbar-form navbar-right text-left mt-1" role="search">
        <div class="position-relative has-icon-right">
            <!-- <input type="text" class="form-control round" placeholder="Search">
            <div class="form-control-position">
                <i class="ft-search"></i>
            </div> -->
            <input [(ngModel)]="searchBar" [ngModelOptions]="{standalone: true}" type="text" class="form-control round searchBtn"
                pInputText placeholder="Search" (input)="filterGlobal($event.target.value)" />
            <div class="form-control-position">
                <i class="ft-search"></i>
            </div>
        </div>
    </form>
    <div class="col-8 text-right pr-0">
        <button type="button" class="btn btn-raised btn-primary btn-darken-3 white">
            
            <div class="dropdown">
              <a class="d-lg-block  dropdown-toggle" data-toggle="dropdown" >Export</a>
              <ul class="dropdown-menu" role="menu">
                  <li><a (click)="exportAsXLSX(0)" >Current Data</a></li>
                  <li><a (click)="exportAsXLSX(1)" >All Data</a></li>
      
              </ul>
          </div>
          </button>
        <button type="button" class="btn btn-raised btn-primary btn-darken-3 white" [routerLink]="['/customer/add-customer']">
            
            <span class="d-lg-block " (click)="onAddCustomerGroup()">Add New</span>
        </button>

    </div>
</div>
<div class="customer-wrapper">
    <div class="heading-wrapper">

    </div>

    <div class="table-wrapper vehicle-wrapper">
        <p-table [value]="customerList" styleClass="table-list-wrapper" [responsive]="true" [paginator]="true"
            [alwaysShowPaginator]="false" [rows]="10" [lazy]="true" (onLazyLoad)="loadDataLazy($event)"
            [totalRecords]="totalCount">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:8em">S No.
                    </th>
                    <th>Group Name</th>
                    <th style="width:16em;">Group Email</th>
                    <th>Customers</th>
                    <th>Registration Date</th>
                    <th style="width:7em;">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
                <tr>
                    <td class="order-date-wrapper"><span class="ui-column-title">S No</span>{{customer.id}}</td>
                    <td><span class="ui-column-title">Group Name</span>{{customer.groupName}}</td>
                    <td><span class="ui-column-title">Group Email</span>{{customer.groupEmail}}</td>
                    <td ><span class="ui-column-title">Customers</span>
                        <a class="text" (click)="open(content, customer.group)"><b>View Customers </b></a>
                        
                    </td>
                    <!-- <td><span class="ui-column-title">Customers</span>
                        <ng-container *ngFor="let group of customer.group">
                            <span>{{group.firstName}} {{group.lastName}}</span>         
                      </ng-container>
                    </td> -->

                    <td><span class="ui-column-title">Registration
                            Date</span>{{customer.created_at | date: 'mediumDate'}}</td>
                   

                    <td>
                        <span class="ui-column-title">Action</span>
                       
                        <div class="dropdown">
                            <a class="glyphicon glyphicon-cog dropdown-toggle" type="button" data-toggle="dropdown">
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a (click)="getDropDownValue1($event,customer.id)">Edit</a></li>
                                <li><a (click)="getDropDownValue1($event,customer.id)">Delete</a></li>

                            </ul>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center text-danger font-weight-600" colspan="6">No Records Found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title title "><b> <u>Customers</u> </b></h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<div class="container pt-3">
    <div *ngFor="let group of groups">
      <ul><li>{{group.firstName}} {{group.lastName}}</li> </ul>
      </div>
</div>    
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
