<div class="row container">
  <div class="content-header text-left">Products</div>
  <p class="content-sub-header"></p> 
</div>
<div class="row paddingSearch">
  <form class="col-4 navbar-form navbar-right text-left mt-1" role="search">
      <div class="position-relative has-icon-right">
          <!-- <input type="text" class="form-control round" placeholder="Search"> -->
          <input   type="text" class="form-control round searchBtn" pInputText placeholder="Search Name/Code" />
          <div class="form-control-position">
              <i class="ft-search"></i>
          </div>
      </div>
  </form>
</div>
<!-- <h3 class="first">Default</h3>
<p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu> -->
<div class="row">
    <div class="col-xl-2 col-lg-6 col-md-12">
        <fieldset class="form-group">
            <label for="basicSelect">Country</label>
            <select class="form-control" id="basicSelect">
                 <option value=null>All</option>
                <option *ngFor="let countries of countries" [value]="countries.id">{{countries.itemName}}</option> 
            </select>
        </fieldset>    
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12">
        <fieldset class="form-group">
            <label for="basicSelect">Child Category</label>
            <select class="form-control" id="basicSelect" >
                 <option value=null>All</option>
                <option *ngFor="let countries of countries" [value]="countries.id">{{countries.itemName}}</option> 
            </select>
        </fieldset>    
    </div>
    <div class="col-xl-2 col-lg-6 col-md-12">
      <fieldset class="form-group">
          <label for="basicSelect">Seller</label>
          <select class="form-control" id="basicSelect">
               <option value=null>All</option>
              <option *ngFor="let countries of countries" [value]="countries.id">{{countries.itemName}}</option> 
          </select>
      </fieldset>    
  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 imp-exp-buttons text-right">
    <button type="button" class="btn btn-raised btn-primary btn-darken-3 white" [routerLink]="['/catalogues/new-product']">
      
      <span class="d-lg-block " >Import</span>
    </button>
      <button type="button" class="btn btn-raised btn-primary btn-darken-3 white" [routerLink]="['/catalogues/new-product']">
        
        <span class="d-lg-block " >Export</span>
    <!-- 
    <div class="dropdown">
      <a class="d-lg-block  dropdown-toggle" data-toggle="dropdown" >Export</a>
      <ul class="dropdown-menu" role="menu">
          <li><a  >Current Data</a></li>
          <li><a  >All Data</a></li>
      </ul>
  </div> -->
  </button>
      <button type="button" class="btn btn-raised btn-primary btn-darken-3 white" [routerLink]="['/catalogues/new-product']">
    
    <span class="d-lg-block " >Add New</span>
  </button>
  </div>
</div>
<ngb-tabset>
    <ngb-tab title="Products">
      <ng-template ngbTabContent>
        <div class="customer-wrapper">
            <div class="heading-wrapper">
            </div>
            <div class="table-wrapper vehiclwrappere- ">
              <p-table [value]="brandList" styleClass="table-list-wrapper" [responsive]="true" [paginator]="true" [alwaysShowPaginator]="false" [rows]="10"  [totalRecords]="totalCount">
                  <!-- [lazy]="true" (onLazyLoad)="loadDataLazy($event)" [lazy]="true" (onLazyLoad)="loadDataLazy($event)" -->
                  <ng-template pTemplate="header">
                        <tr class="table-coustom-style">
                            <th>S No.</th>
                            <th>Product Code</th>
                            <th>Name</th>
                            <th>Child Category</th> 
                            <th>Seller</th>
                            <th>Country</th> 
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-brand >
                        <tr>
                            <td class="order-date-wrapper"><span class="ui-column-title">S No</span>{{brand.id}}</td>
                            <td><span class="ui-column-title">Product Code</span>{{brand.manufacturerName}}</td>
                            <td><span class="ui-column-title">Name</span>{{brand.supplyType.name}}</td>
                            <td><span class="ui-column-title">Child Category</span></td>
                            <td><span class="ui-column-title">Seller</span>{{brand.walletDiscount}}</td>
                            <td><span class="ui-column-title">Country</span>{{brand.sort}}</td>
                             <td >
                                <span class="ui-column-title ">Status</span> 
                                
                                <div class="dropdown">
                                <a class="dropdown-toggle badge colorStatus" [ngClass]="{ 'badge-primary': brand.adminStatus === 1 , 'badge-danger': brand.adminStatus === 0 }" type="button" data-toggle="dropdown">{{(brand.adminStatus === 1) ? 'Active' : 'Inactive'}}
          
                                </a>
                                    <ul class="dropdown-menu">
                                        <li [hidden]="brand.adminStatus == 1"><a (click)="setStatus(brand.id ,1, $event)">Active</a></li>
                                        <li [hidden]="brand.adminStatus == 0"><a (click)="setStatus(brand.id,0, $event)">Inactive</a></li>
                                    </ul>
                                </div>
                                                      
                            </td> 
                            <td>
                                 <span class="ui-column-title">Action</span>
                            
                                <div class="dropdown">
                                    <a class="glyphicon glyphicon-cog dropdown-toggle" type="button" data-toggle="dropdown">
          
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a (click)="getDropDownValue1($event,brand.id)">Edit</a></li>
                                        <li><a (click)="getDropDownValue1($event,brand.id)">Delete</a></li>
          
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td class="text-center text-danger font-weight-600" colspan="8">No Records Found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
          </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>
        <a class="btn-link" [routerLink]="['/catalogues/combos']">Combos</a>
        </ng-template>
        </ngb-tab>
    <!-- <ngb-tab title="Combos" ngbTabContent routerLink="/catalogues/new-product">
       <ng-template ngbTabContent>
        <p>Because default values have been customized.</p>
      </ng-template> 
    </ngb-tab> -->
  </ngb-tabset>



