<div class="row container breadcrum-container">
  <ul class="col-sm-12 pl-0">
    <li>
      <a [routerLink]="['/customer/customer-groups']">Customer Groups</a>
    </li>
    <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
    </li>
    <li>
      {{customerGroupTitle}}
    </li>
  </ul>
  <div class="content-header text-left">{{customerGroupTitle}}</div>
</div>
<div class="row ">
  <div class="col-md-12">
      <div class="card">
          <div class="card-content">
              <div class="px-3 pt-3">
<form class="form" [formGroup]="addCustomerGroupForm" (ngSubmit)="onSubmitAddCustomerGroupForm()">
  <div class="form-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Group Name</label>
          <input type="text" class="form-control border-primary" formControlName="name" placeholder="Group Name"
            [ngClass]="{ 'is-invalid': isSubmittedaddCustomerGroupForm && signUpControls.name.errors }">
          <div *ngIf="isSubmittedaddCustomerGroupForm && signUpControls.name.errors" class="invalid-feedback">
            <div *ngIf="signUpControls.name.errors.required">Group Name is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Group Email</label>
          <input type="email" class="form-control border-primary" formControlName="email" placeholder="Group Email"
            [ngClass]="{ 'is-invalid': isSubmittedaddCustomerGroupForm && signUpControls.email.errors }">
          <div *ngIf="isSubmittedaddCustomerGroupForm && signUpControls.email.errors" class="invalid-feedback">
            <div *ngIf="signUpControls.email.errors.required">Group Email is required</div>
            <div *ngIf="signUpControls.email.errors.pattern">Please enter valid email (xyz@abc.com)</div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="form-actions right">
    <button type="button" [routerLink]="['/customer/customer-groups']" class="btn btn-raised btn-warning mr-1"> Back
    </button>
    <button type="submit" class="btn btn-raised btn-primary" [disabled]="!addCustomerGroupForm.dirty"> Submit
    </button>
  </div>
</form>
</div>
</div>
</div>
</div>
</div>
