<div class="row container breadcrum-container">
  <ul class="col-sm-12 pl-0">
      <li>
          <a [routerLink]="['/website-elements/banners']">Banner</a>
      </li>
      <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
      </li>
      <li>
          {{bannerTitle}}
      </li>
  </ul>
  <div class="content-header text-left">{{bannerTitle}}</div>
</div>
<div class="row ">
  <div class="col-md-12">
      <div class="card">
          <div class="card-content">
              <div class="px-3 pt-3">
                <form class="form" [formGroup]="addBannerForm" (ngSubmit)="onSubmitBannerForm()">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label><span class="asterick">*</span> 
                                    <input type="text" class="form-control border-primary" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Select Country</label><span class="asterick">*</span>
                                       <div class="assign-group-dropdown">
                                        <p-dropdown [options]="countries" formControlName="countryName" styleClass="form-control border-primary" (onChange)="getdropdown($event)"  filter="true" placeholder="Select Country"  [ngClass]="{ 'is-invalid': isSubmittedaddBannerForm && signUpControls.countryName.errors }">
                                         </p-dropdown>
                                        <div *ngIf="isSubmittedaddBannerForm && signUpControls.countryName.errors" class="invalid-feedback">
                                            <div *ngIf="signUpControls.countryName.errors.required">Country is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">                         
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Position </label><span class="asterick">*</span>
                                    <div class="assign-group-dropdown">
                                    <p-dropdown [options]="position" formControlName="position" styleClass="form-control border-primary" (onChange)="getdropdown2($event)"  filter="true" placeholder="Select Position"  [ngClass]="{ 'is-invalid': isSubmittedaddBannerForm && signUpControls.currency.errors }">
                                    </p-dropdown>
                                    <!-- <div *ngIf="isSubmittedaddCountryForm && signUpControls.currency.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="signUpControls.currency.errors.required">Currency is required
                                        </div>
                                    </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-group">
                                <label>Sequence Number</label><span class="asterick">*</span> 
                                <input type="text" class="form-control border-primary" placeholder="Sequence Number">
                            </div>
                        </div>
                        </div>
                        <div class="row">                         
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Hyperlink </label><span class="asterick">*</span>
                                    <div class="assign-group-dropdown">
                                    <p-dropdown [options]="hyperlink" formControlName="hyperlink" styleClass="form-control border-primary" (onChange)="getdropdown2($event)"  filter="true" placeholder="Select Hyperlink"  [ngClass]="{ 'is-invalid': isSubmittedaddBannerForm && signUpControls.currency.errors }">
                                    </p-dropdown>
                                    <!-- <div *ngIf="isSubmittedaddCountryForm && signUpControls.currency.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="signUpControls.currency.errors.required">Currency is required
                                        </div>
                                    </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Image </label><span class="asterick">*</span>
                                    <div class="row ">
                                        <div class="col-md-2 form-group center mb-0">
                                            <label for="file">
                                              <img width="80px" height="80px" [src]="companyFlagSize ? companyLogo : dLogo" class="ImgIcon" /> </label>
                                        </div>
                                        <div class="col-md-10">
                                            <input  type="file" accept="image/*" id="chooseFile" (change)="fileChangeEvent($event)"   formControlName="file" class="form-control border-primary">
                                            <span id="sizeValidations">File size should not exceed 200kb</span>
                                            <div *ngIf="isSubmittedaddBannerForm && signUpControls.file.errors" class="invalid-feedback mt-0">
                                                <div *ngIf="signUpControls.file.errors.required">Image is required</div>
                                            </div> 
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>

                      </div>
                      <div class="form-actions right">
                          <button type="button" [routerLink]="['/website-elements/banners']"
                              class="btn btn-raised btn-warning mr-1"> Back
                          </button>
                          <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                          <!-- [disabled]="!addBannerForm.dirty" -->
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>