<div class="content section-padding bg-white box-shadow section-bottom-spacing">
  <div class="section-heading section-head-with-button">
    <div class="section-title">
      <p>Expert</p>
      <!-- <p class="section-sub-heading">Categories of frames displayed on the website</p> -->
    </div>
  </div>
  <div class="tabular-data-wrapper">

    <p-table #dt [value]="expert" [responsive]="true" (onLazyLoad)="loadDataLazy($event)" [lazy]="true" styleClass="acrylic-table"
      [paginator]="true" [rows]="10" [totalRecords]="totalCount" [autoLayout]="true">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input [(ngModel)]="searchBar" type="text" pInputText size="50" placeholder="Search Name, Email, Contact No"
            (input)="filterGlobal($event.target.value)" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Image</th>
          <th>Name</th>
          <th>Email</th>
          <th>Contact No</th>
          <th>Detail</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowIndex="rowIndex" let-item>
        <tr>
          <td>{{rowIndex+1}}</td>
          <td><span *ngIf="item.profilePic !='' "><img src="{{item.profilePic}}" width="50px" height="50px"></span>
            <span *ngIf="item.profilePic =='' "><img src="assets/img/default-user-square.svg" width="50px" height="50px"></span>
          </td>
          <td>{{item.firstName}} {{item.lastName}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td> <button [routerLink]="['/users/detail', item.id]" class="custom-btn custom-btn-small blue-btn text-center button-with-icon edit"><i
                class="fa fa-info-circle" aria-hidden="true"></i>Detail</button></td>
          <td><button *ngIf="item.adminStatus==1" class="custom-btn custom-btn-small green-btn text-center button-with-icon"
              (click)="ChangeStatus(item)">Active</button>
            <button *ngIf="item.adminStatus==0" class="custom-btn custom-btn-small red-btn text-center button-with-icon"
              (click)="ChangeStatus(item)">Deactive</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>