<div class="content section-padding bg-white box-shadow section-bottom-spacing">
  <div class="section-heading section-head-with-button">
    <div class="section-title">
      <p>Companies</p>
      <!-- <p class="section-sub-heading">Categories of frames displayed on the website</p> -->
    </div>

    <div class="header-action-button">
      <div class="action-btn-sect">
        <button (click)="openAddCompanyForm()" class="custom-btn theme-btn text-center block-center button-with-icon add-comp-btn"><i class="fa fa-plus icon" aria-hidden="true"></i>Add Company</button>
        <button (click)="openImportCsvForm()" class="btn btn-raised btn-primary custom-btn button-with-icon"><i class="fa fa-upload icon" aria-hidden="true"></i>Import</button>
      </div>
    </div>
  </div>

  <div class="tabular-data-wrapper">
    <p-table #dt [value]="company" [responsive]="true" styleClass="acrylic-table" (onLazyLoad)="loadDataLazy($event)"
      [lazy]="true" [paginator]="true" [totalRecords]="totalCount" [rows]="10">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input [(ngModel)]="searchBar" type="text" pInputText size="50" placeholder="Search Company" (input)="filterGlobal($event.target.value)"
            style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Company Name</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowIndex="rowIndex" let-item>
        <tr>
          <td>{{rowIndex + 1}}</td>
          <td>{{item.companyName}}</td>
          <td><button *ngIf="item.adminStatus==1" class="custom-btn custom-btn-small green-btn text-center button-with-icon"
              (click)="ActiveDeactiveCategory(item)">Active</button>
            <button *ngIf="item.adminStatus==0" class="custom-btn custom-btn-small red-btn text-center button-with-icon"
              (click)="ActiveDeactiveCategory(item)">Deactive</button>
          </td>
          <td class="action-buttons">
            <span class="ui-column-title">Action</span>
            <button (click)="openUpdateCompanyForm(item)" class="custom-btn custom-btn-small blue-btn text-center button-with-icon edit"><i
                class="fa fa-pencil icon" aria-hidden="true"></i>Edit</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div *ngIf="displayUpdateCompanyForm">
  <p-dialog header="Edit Company" modal="true" [(visible)]="displayUpdateCompanyForm" [responsive]="true" [style]="{minWidth: '800px'}"
    (onHide)="closeaddCompanyForm()" appendTo="body" maximizable="true" blockScroll="true" [closeOnEscape]="false">
    <div class="dialog-content">

      <form [formGroup]="UpdateCompanyForm" (ngSubmit)="UpdateCompany()" class="custom-form">
        <div class="custom-form-control">
          <span class="key">Company Name</span>
          <span class="value">
            <input type="text" name="companyName" formControlName="companyName">
          </span>
          <span class="error-message" *ngIf="UpdateCompanyForm.controls.companyName.invalid && (UpdateCompanyForm.controls.companyName.dirty || UpdateCompanyForm.controls.companyName.touched) && isUpdateCompanyFormSubmitted">
            <span *ngIf="UpdateCompanyForm.controls.companyName.errors.required">Company
              name
              is required.</span>
          </span>
          <span class="error-message" *ngIf="UpdateCompanyForm.controls.companyName.invalid && (UpdateCompanyForm.controls.companyName.dirty || UpdateCompanyForm.controls.companyName.touched) && isUpdateCompanyFormSubmitted">
            <span *ngIf="UpdateCompanyForm.controls.companyName.errors.pattern">Company name should be valid.</span>
          </span>
          <!-- <span *ngIf="updateCategoryForm.controls.companyName.errors.pattern" >
            Company name should be valid.
          </span> -->
        </div>

        <div class="custom-form-control decision-box">
          <button type="reset" title="Cancel" class="custom-btn red-btn text-center button-with-icon cancel" (click)="closeUpdateCompanyForm()"><i
              class="fa fa-times icon" aria-hidden="true"></i>Cancel</button>
          <button type="submit" title="Submit" class="custom-btn green-btn text-center button-with-icon submit"><i
              class="fa fa-check icon" aria-hidden="true"></i>Submit</button>
        </div>
      </form>
    </div>
  </p-dialog>
</div>

<div *ngIf="displayAddCompanyForm">
  <p-dialog header="Add Company" modal="true" [(visible)]="displayAddCompanyForm" [responsive]="true" [style]="{minWidth: '800px'}"
    (onHide)="closeAddCompanyForm()" appendTo="body" maximizable="true" blockScroll="true" [closeOnEscape]="false">
    <div class="dialog-content">

      <form [formGroup]="AddCompanyForm" (ngSubmit)="AddCompany()" class="custom-form">
        <div class="custom-form-control">
          <span class="key">Company Name</span>
          <span class="value">
            <input type="text" name="companyName" id="companyName" formControlName="companyName">
          </span>
          <span class="error-message" *ngIf="AddCompanyForm.controls.companyName.invalid && (AddCompanyForm.controls.companyName.dirty || AddCompanyForm.controls.companyName.touched) && isAddCompanyFormSubmitted">
            <span *ngIf="AddCompanyForm.controls.companyName.errors.required">Company
              name
              is required.</span>
          </span>
          <span class="error-message" *ngIf="AddCompanyForm.controls.companyName.invalid && (AddCompanyForm.controls.companyName.dirty || AddCompanyForm.controls.companyName.touched) && isAddCompanyFormSubmitted">
            <span *ngIf="AddCompanyForm.controls.companyName.errors.pattern">Company name should be valid.</span>
          </span>
        </div>

        <div class="custom-form-control decision-box">
          <button type="reset" title="Cancel" class="custom-btn red-btn text-center button-with-icon cancel" (click)="closeAddCompanyForm()"><i
              class="fa fa-times icon" aria-hidden="true"></i>Cancel</button>
          <button type="submit" title="Submit" class="custom-btn green-btn text-center button-with-icon submit"><i
              class="fa fa-check icon" aria-hidden="true"></i>Submit</button>
        </div>
      </form>
    </div>
  </p-dialog>
</div>

<div *ngIf="displayImportCsvForm">
    <p-dialog header="Import CSV" modal="true" [(visible)]="displayImportCsvForm" [responsive]="true" [style]="{minWidth: '800px'}"
      (onHide)="closeImportCsvForm()" appendTo="body" maximizable="true" blockScroll="true" [closeOnEscape]="false">
      <div class="dialog-content">
  
        <form [formGroup]="CsvImportForm" (ngSubmit)="importCsvData()" class="custom-form">
          <div class="custom-form-control">
            <span class="key">CSV File</span>
            <span class="value">
              <input type="file" name="company_file" accept=".csv" id="company_file" formControlName="company_file" (change)="fileChangeEvent($event)">
            </span>
            <span class="error-message" *ngIf="CsvImportForm.controls.company_file.invalid && (CsvImportForm.controls.company_file.dirty || CsvImportForm.controls.company_file.touched)">
              <span *ngIf="CsvImportForm.controls.company_file.errors.required">CSV File is required</span>
            </span>
            <span class="error-message" *ngIf="filetypeerror">{{filetypeerror}}</span>
          </div>
          <div class="custom-form-control decision-box">
            <button type="reset" title="Cancel" class="custom-btn red-btn text-center button-with-icon cancel" (click)="closeImportCsvForm()"><i
                class="fa fa-times icon" aria-hidden="true"></i>Cancel</button>
            <button type="submit" title="Submit" class="custom-btn green-btn text-center button-with-icon submit"><i
                class="fa fa-check icon" aria-hidden="true"></i>Submit</button>
          </div>
        </form>
      </div>
    </p-dialog>
</div>