.category-cards-row {
  padding: 0 15px;
}

.card-wth-name .card-name {
  min-height: 48px;
}

.card-wth-name .card-with-name-footer .custom-btn {
  width: 100%;
}

.card-wth-name .card-with-name-footer {
  justify-content: center;
}

.action-btn-sect{
  button.add-comp-btn{
    float: left;
    margin-right: 10px;;
  }
}