<div class="row container breadcrum-container">
  <ul class="col-sm-12 pl-0">
    <li> <a [routerLink]="['/catalogues/manufacturing-brand']">Manufacturer/ Brand</a>
    </li> <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right"></li>
    <li> {{brandTitle}}  </li>
  </ul>
  <div class="content-header text-left pb-3">{{brandTitle}}</div>
</div>
<div class="row ">
  <div class="col-md-12">
      <div class="card">
          <div class="card-content">
              <div class="px-3 pt-3">
<form class="form" [formGroup]="addBrandForm" (ngSubmit)="onSubmitBrandForm()">
  <div class="form-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Name</label><span class="asterick">*</span>
          <input type="text" class="form-control border-primary" placeholder="Name" formControlName="name"
            [ngClass]="{ 'is-invalid': isSubmittedaddBrandForm && signUpControls.name.errors }">
          <div *ngIf="isSubmittedaddBrandForm && signUpControls.name.errors" class="invalid-feedback">
            <div *ngIf="signUpControls.name.errors.required">Name is required</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> 
          <label>Select Country</label><span class="asterick">*</span>
          <div class="assign-group-dropdown">
            <p-dropdown [options]="countries" formControlName="countryId" styleClass="form-control border-primary"
            [(ngModel)]="selected_country" filter="true" placeholder="Select Country" (onChange)="getdropdown($event)"
              [ngClass]="{ 'is-invalid': isSubmittedaddBrandForm && signUpControls.countryId.errors }">
            </p-dropdown>
            <div *ngIf="isSubmittedaddBrandForm && signUpControls.countryId.errors" class="invalid-feedback">
              <div *ngIf="signUpControls.countryId.errors.required">Country is required</div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Logo</label><span class="asterick">*</span>
          <div class="row">
            <div class="col-md-2 form-group center">
                <label for="file">
                  <img width="80px" height="80px" [src]="companyFlagSize ? companyLogo : dLogo" class="ImgIcon" /> </label>
            </div>
            <div class="col-md-10">
                <input  type="file" accept="image/*" id="chooseFile" (change)="fileChangeEvent($event)"   formControlName="file" class="form-control border-primary">
                <span id="sizeValidations">File size should not exceed 200kb</span>
                <div *ngIf="isSubmittedaddBrandForm && signUpControls.file.errors" class="invalid-feedback mt-0">
                  <div *ngIf="signUpControls.file.errors.required">Logo is required</div>
              </div> 
              </div>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
            <label>Supply Type</label><span class="asterick">*</span> 
            <div class="assign-group-dropdown">
            <p-dropdown [options]="supplyTypes" formControlName="supplyTypeId" styleClass="form-control border-primary"
            [(ngModel)]="selected_supplyType" placeholder="Select Supply Type"
            [ngClass]="{ 'is-invalid': isSubmittedaddBrandForm && signUpControls.supplyTypeId.errors }">
          </p-dropdown>
                <div *ngIf="isSubmittedaddBrandForm && signUpControls.supplyTypeId.errors" class="invalid-feedback">
                <div *ngIf="signUpControls.supplyTypeId.errors.required">Supply Type is required</div>
            </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Wallet Discount</label>
          <input type="number" min="0" class="form-control border-primary" placeholder="Wallet Discount" formControlName="walletDiscount"
            [ngClass]="{ 'is-invalid': isSubmittedaddBrandForm && signUpControls.walletDiscount.errors }">
         
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions right">
    <button type="button" [routerLink]="['/catalogues/manufacturing-brand']" class="btn btn-raised btn-warning mr-1">
      Back
    </button>
    <button type="submit" class="btn btn-raised btn-primary" [disabled]="!addBrandForm.dirty"> Submit
    </button>
  </div>
</form>
</div>
</div>
</div>
</div>
</div>