<div class="row container breadcrum-container">
  <ul class="col-sm-12 pl-0">
    <li>
      <a [routerLink]="['/catalogues/manufacturing-brand']">Manufacturer/Brand</a>
    </li>
    <li style="margin : 2px 9px 0 9px" class="fa fa-angle-right">
    </li>
    <li>
      {{userTitle}}
    </li>
  </ul>
  <div class="content-header text-left pb-3">{{userTitle}}</div>
</div>
<form class="form" [formGroup]="addUserForm" (ngSubmit)="onSubmitUserForm()">
  <div class="form-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Name</label><span class="asterick">*</span> 
          <input type="text" class="form-control border-primary" placeholder="Name" formControlName="name" [class.is-invalid]="(customeForm.name.errors  && (customeForm.name.dirty || customeForm.name.touched))"
          >
     
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Supply Type</label><span class="asterick">*</span> 
          <input type="text" class="form-control border-primary" placeholder="Supply Type" formControlName="Supply_type" [class.is-invalid]="(customeForm.Supply_type.errors  && (customeForm.Supply_type.dirty || customeForm.Supply_type.touched))"
            >
        
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <!-- <label>Logo</label><span class="asterick">*</span> 
          <input type='file'  id="imageUpload" accept="image/*" #fileInput (change)="uploadFile($event)" />
          -->
          <label>Logo</label><span class="asterick">*</span> 
          <div class="custom-file d-block">
<input type="file" class="custom-file-input border-primary" id="inputGroupFile01">
<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group"> 
          <label>Status</label><span class="asterick">*</span>
          <select class="form-control" id="basicSelect">
            <option>Active</option>
            <option>Inactive</option>
          </select>
      </div>    
    </div>
</div>
  </div> 
  <div class="form-actions right">
    <button type="button" [routerLink]="['/catalogues/manufacturing-brand']" class="btn btn-raised btn-warning mr-1"> Back
    </button>
    <button type="submit" class="btn btn-raised btn-primary"> Submit
    </button>
  </div>
</form>