<!--Contact Information on the website-->
<div class="content section-padding bg-white box-shadow section-bottom-spacing">

  <div class="section-heading section-head-with-button">
    <div class="section-title">
      <p>Terms and Conditions</p>
      <p class="section-sub-heading">Terms and Conditions being displayed on website</p>
    </div>

    <div class="header-action-button">
      <button *ngIf="!displayEditForm" (click)="openEditTermsAndConditions()"
        class="custom-btn theme-btn text-center block-center button-with-icon"><i class="fa fa-pencil icon"
          aria-hidden="true"></i>Edit</button>

      <button *ngIf="displayEditForm" (click)="closeEditTermsAndConditions()"
        class="custom-btn theme-btn text-center block-center button-with-icon"><i class="fa fa-times icon"
          aria-hidden="true"></i>Cancel</button>
    </div>
  </div>

  <div *ngIf="displayEditForm" class="terms-and-conditions-content animated fadeIn">
    <form [formGroup]="termsAndConditonsForm" (ngSubmit)="updateTermsAndConditions()" class="custom-form">
      <quill-editor formControlName="description" [modules]="toolbar"></quill-editor>
      <span class="error-message"
        *ngIf="termsAndConditonsForm.controls.description.invalid && (termsAndConditonsForm.controls.description.dirty || termsAndConditonsForm.controls.description.touched) && istermsAndConditonsFormSubmitted">
        <span
          *ngIf="termsAndConditonsForm.controls.description.errors.required || termsAndConditonsForm.controls.description.errors.whitespace">Terms
          and Conditions are required.</span>
      </span>


      <div class="custom-form-control decision-box">
        <button type="button" title="Cancel" class="custom-btn red-btn text-center button-with-icon cancel"
          (click)="closeEditTermsAndConditions()"><i class="fa fa-times icon" aria-hidden="true"></i>Cancel</button>
        <button type="submit" title="Submit" class="custom-btn green-btn text-center button-with-icon submit"><i
            class="fa fa-check icon" aria-hidden="true"></i>Submit</button>
      </div>
    </form>
  </div>

  <div *ngIf="!displayEditForm" class="section-spacing animated fadeIn">
    <p class="data-para" [innerHtml]="description?.text |
      safeHtml">
  </div>

</div>
